[2014-06-07 18:22] reynoldsalec opened #4 "Undefined error in nue.js workflow during VirtualBox Installation"
An error is occuring after the VirtualBox DMG has been installed in the installer.js workflow; see below log. Have several tickets in the Kalabox queue relating to this; haven't been able to replicate.

2014-06-04T18:02:02.698Z - info: Box initialized.
2014-06-04T18:02:02.698Z - info: Kalabox Version: 1.0-beta5
2014-06-04T18:02:02.699Z - info: Mac OS Version: 10.9.3

2014-06-04T18:02:02.699Z - inf

[2014-06-07 20:01] reynoldsalec commented on #4
Tried upgrading my VirtualBox to 4.3.12 to see if I could replicate the issue, no dice there on my pre-installed version.

[2014-06-07 20:07] reynoldsalec opened #5 "Try Kalabox on Linux/Write Instructions"
If dependencies were manually installed in the correct locations, I'm guessing that the Kalabox UI would work on most Linux platforms. Would be great to get instructions written for that (and would be even MORE great to get someone to tweak the installer for Linux).

[2014-06-07 20:34] pirog commented on #4
@reynoldsalec my guess here is they are running vagrant 1.5+ which i dont think works with kalabox yet. I would see if downgrading to the "supported" release of vagrant (1.4.3) does the trick.

Might want to ping the zendesk people who have this issue and try to direct them here instead.

[2014-06-07 20:40] reynoldsalec opened #6 "Use sinker for file "sharing" instead of NFS."
If we're ok upgrading Kalastack to use rsync (see https://github.com/kalamuna/kalastack/issues/84), we should do a couple things to keep files synced between the environments:
1. Require Vagrant 1.5+
2. Use the "vagrant auto-sync" command on initializing the box to keep things automatically synced: https://www.vagrantup.com/blog/feature-preview-vagrant-1-5-rsync.html

That cool with you @pirog? Th

[2014-06-07 20:42] pirog commented on #6
Yeah definitely. There may be some other weird things that happen when we move past the 1.5 threshold so we will want to be mindful of that.

[2014-06-07 20:48] pirog commented on #4
This could also potentially be caused by a corrupt DMG

[2014-06-10 23:13] delajed opened #7 "Stuck at Kalaboxing..."
I'm trying to install Kalabox 1.0 (Beta 5) on my 13-inch, Mid 2013 MacBook Air running OS X 10.9.3 and I'm getting stuck with the progress bar at 50%, "Kalaboxing..."

I've tried numerous times, waiting as much as an hour for the installation to progress with no success. At each time, I've gone through the uninstallation tool, and restarted to ensure that the installation goes as clean as possible

[2014-06-11 01:13] rlnorthcutt commented on #5
Plus one on this... I've been watching the Kalabox project for awhile, but I use Linux (not MacOS). Surely there is a way to run it on Linux?

[2014-06-11 01:19] andrewmallis commented on #5
The [kalastack](https://github.com/kalamuna/kalastack) runs great.
Some tips: https://github.com/kalamuna/kalastack/wiki/Tips-for-Installing-on-Ubuntu-Linux

The front-end control panel's in node and should run on Linux, but there are some bits dependencies that'd be required, and some other finessing that the [kickstarter](https://www.kickstarter.com/projects/kalabox/kalabox-advanced-web-tools-fo

[2014-06-11 19:20] bwood opened #8 "Too many sites causes Kalabox auth to fail?"
After installing Kalabox I tried to authenticate to Pantheon using by bwood@berkeley.edu account.  That account is part of the UC Berkeley "organization" on Pantheon.  I am positive I used the correct password because I first authenticated to http://dashboard.getpantheon.com by pasting my password and that succeeded.  Pasting the same password into the Kalabox password box results in "Unable to si

[2014-06-11 19:49] andrewmallis commented on #8
I had this same problem today. Tried it again a few times and it logged in.
First time for me, though. Maybe on the Pantheon side?
Can you auth via terminus but not kalabox when this happens?

[2014-06-11 19:59] bwood commented on #8
Andrew, are organization accounts _known_ to work with Kalabox?

Are you suggesting a workaround that would allow me to download some of my Pantheon sites to Kalabox?  This is what I'm trying to do...

[2014-06-11 20:09] andrewmallis commented on #8
Our kalamuna.com email accounts are organizational also and they are known to work.

I was suggesting a quick check to see if the auth issues are on kalabox side of the equation for troubleshooting.

If you want to download sites, you can use [terminatur](https://github.com/kalamuna/terminatur) commands, which is what the UI triggers. Just SSH into the box and run:

[code]

which should build the

[2014-06-12 16:38] reynoldsalec opened #9 "Remove kalabox64.box in Uninstall Script"
Occasionally the box image is corrupted on download; perhaps we should have an additional option (or include it in the complete wipe option) in the uninstall script to delete that as well?

Suggestion via Will Hise.

[2014-06-13 02:49] pirog commented on #9
Good call. I think an option would be good.

There are a lot of minor improvements in the issue queue here and over in the kalastack so im thinking about maybe rolling a new beta6 release sometime next week.

[2014-06-13 03:35] pirog commented on #8
@bwood another thing i would try is to login manually with terminus via the command line. You can do this by hitting the SSH button on the box.

$ drush pantheon-auth --debug --verbose

and copy the output here

[2014-06-13 15:49] bwood commented on #8
Hi Mike,

So this problem is specific to my bwood@berkeley.edu account.  One of my coworkers can authenticate.  I just tried restarting Kalabox and authenticating using a pasted password that works with dashboard.getpatheon.com.  I even tried changing my Pantheon password to something containing just lower case letters.  I still can't get Kalabox to connect.

In case it's relevant, I have a lot of

[2014-06-13 19:57] ari-gold commented on #8
I'm also having problem authenticating through UI and can authenticate with drush pauth.

[2014-06-14 00:37] pirog commented on #8
@bwood i think you may have hit the nail on the head re: number of sites.
@ari-gold (whats up man!) do you also have a ton of sites?

I would try to run

$ drush ta --debug --verbose

and see what the output is. this is the actual command that is run on the kalabox ui side.

[2014-06-14 00:58] pirog commented on #5
I think this has been made more explicit in the KS campaign but the way we are building it there should be a debian package available that will be very similar to the MacOSX version.

[2014-06-14 22:02] ModulesUnraveled opened #10 "Guard/Compass/LiveReload etc. don't pickup files changed in shared folder"
Okay, I think I've narrowed this down to the fact that when I edit and save a file (in my case an .scss file) with Sublime Text, the change isn't picked up by Guard (or Compass/LiveReload/etc.) in the Virtual Box because of the way files are shared between the local system and the server in the VM.

When I run guard for the first time, it compiles the sass to css properly, but then doesn't get any

[2014-06-16 17:17] ari-gold commented on #8
Hey @pirog!

I only have one site with the new account that authenticates via drush but not in UI...

[ edited and removed output of drush ta --debug --verbose ]

[2014-06-16 17:44] pirog commented on #8
Interesting... possibly a different issue than @bwood then.

@ari-gold, do you have any special characters in your PW?

[2014-06-16 18:16] ari-gold commented on #8
@pirog

Yes, that was it. Generated password via KeePassX and have many special characters. I took out the " and it worked.

Thanks!

[2014-06-16 18:23] pirog commented on #8
Great! Awesome to know!

I'm not 100% sure if this is @bwood's issue. Let's wait to hear back from
him and if diff we can open a separate ticket.

On Mon, Jun 16, 2014 at 11:16 AM, ari-gold notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-16 18:59] pirog commented on #10
Hmmm interesting. We are currently using the VB NFS sharing which should def share everything. Where does it compile those assets? Maybe it is outside of the shared folder?

[2014-06-16 19:27] katebron commented on #4
Potentially the same problem:
2014-06-14T14:37:28.944Z - info: Box initialized.
2014-06-14T14:37:28.945Z - info: Kalabox Version: 1.0-beta5
2014-06-14T14:37:28.945Z - info: Mac OS Version: 10.7.5

2014-06-14T14:37:28.945Z - info: VirtualBox Version: false
2014-06-14T14:37:28.945Z - info: Vagrant Version: false
2014-06-14T14:37:40.065Z - info: User accepted license.
2014-06-14T14:39:43.398Z - error

[2014-06-17 05:54] bwood commented on #8
Above I say:

so I don't think that's the cause of my issue.

[2014-06-17 17:24] mdyorke opened #11 "Not finding localhost site"
When I click on my downloaded pantheon site in Kalabox it opens up my browser and tries to direct me to my-site.kala but is then redirected to http://www.dnsrsearch.com/index.php?origURL=http%3A//my-site.kala/&r= .  Any ideas on how to fix this?

[2014-06-17 18:21] pirog opened #12 "Download loop"
Sometimes after your code is downloaded the "Download site form" will reappear and this seems to loop infinitely.

I think this is caused by some funk in settings.php which produces bad SQL creds and a failure to report that error by terminatur.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2698583-download-loop?utm_campaign=plu

[2014-06-18 01:07] steveixa opened #13 "Downloading Drupal 6 sites from Pantheon"
I noticed when I pulled a Drupal 6 site from Pantheon the settings.php file was configured for a Drupal 7 site. Kalabox reports that the download was successful but when you visit the site it prompts you to do a fresh install.

To fix it I just changed the database settings in the settings.php to use the Drupal 6 syntax and all was good.

[2014-06-19 19:38] pirog commented on #8
@ari-gold can you open up another issue for the special characters " issue?

@bwood i _think_ this is just related to the amount of sites you have, as you theorized as well. does anyone else at berkeley have that many sites so you could test it out? might be good to know what the upper bound is here.

In the meantime there are some things we can do on the kalabox side to make the requests to termi

[2014-06-19 19:40] ari-gold opened #14 "Pantheon authentication fails if password has double quote and likely other special characters"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2735931-pantheon-authentication-fails-if-password-has-double-quote-and-likely-other-special-characters?utm_campaign=plugin&utm_content=tracker%2F1250748&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2014-06-19 21:14] gremy opened #15 "Allow users to Skip Virtualbox version requirement"
It would be very helpful to allow users to skip the Virtualbox version dependency because many experienced developers already have the latest Vagrant and Virtualbox installed and Kalastack runs just fine on the latest version.
This issue might influence a lot of developers to not proceed with the installation of Kalabox.

![screen shot 2014-06-19 at 14 09 51](https://cloud.githubusercontent.com/as

[2014-06-19 21:52] pirog commented on #15
Let's find out what the lowest possible version of virtualbox is that is required by KB and set things there. That will make this less annoying to everyone.

[2014-06-19 21:57] pirog commented on #13
This is an issue with terminatur. I've opened an issue there.
https://github.com/kalamuna/terminatur/issues/22

[2014-06-19 21:59] pirog commented on #11
Do you know who your ISP is? Sometimes they will hijack requests like this and do a search instead.

[2014-06-19 22:00] reynoldsalec commented on #12
This happened to me when a fatal error occurred in the settings.php file; in my case there was a call to drupal_fast_404(), which wasn't available. Should be able to check the kalabox.log and ascertain that.

[2014-06-19 22:04] pirog commented on #8
@reynoldsalec terminuatur is a little bit too heavy when it tries to build out the terminatur alias file. we need a faster and more lightweight way to do this. i would check to see what requests we are making via terminus here
https://github.com/kalamuna/terminatur/blob/master/terminatur.bootstrap.inc

and whether we need to do all of them.

[2014-06-19 22:06] pirog commented on #4
I have also seen a permission denied error for the SSH askpass which might be the issue as well.

One possible thing we could do is to stop forwarding in the users SSH key and just rely on kalabox to handle all of the keys. This would be simpler and more stable.

[2014-06-19 23:17] gremy commented on #15
The problem is not with having a lower version of Virtualbox, it is with having a newer version.
I have a newer version of Virtualbox and I cannot install Kalabox beacuse is not the exact version that is configured in the installer.
I am however running Kalastack separately without any problem.

My proposal is to have a button there to ignore the requirement and just attempt to install Kalabox wit

[2014-06-19 23:27] pirog commented on #15
Yes. What i am saying is let's find the minimum required version and whitelist everything above that. I want to simplify things here.

If you have a newer version i think we just prompt the user to let them know that it's not tested with their version and ask whether they want to proceed as you suggest.

[2014-06-19 23:35] gremy commented on #15
Sounds like a good plan.

[2014-06-20 02:15] pirog opened #17 "Change error message to suggest people post issues here"
Currently if kalabox errors it asks people to email kalabox@kalamuna.com. We want them to post here instead.

[2014-06-20 19:55] bassettsj opened #18 "Allow terminal choice or find what the user sets as default."
The SSH button launches Terminal on my Mac. I use iTerm 2, can we change the logic for how it launches that app.

[2014-06-20 20:38] reynoldsalec commented on #4
@katebron looks like you had two separate issues when trying to install. The first time installing the vagrant plugin host-updater failed. Second time that worked, but looks like some material created during the first installation (specifically the $HOME/.vagrant.d/boxes/kalabox directory) got in the way of the second installation. As an immediate step to get Kalabox running, I would delete that d

[2014-06-20 21:22] fluxsauce commented on #18
[code]

will use the default SSH client, which can include iTerm. Tested by using Terminal and the above command, and it spawned a new iTerm tab.

[2014-06-20 21:36] andrewmallis commented on #18
+1

[2014-06-21 00:56] reynoldsalec commented on #12
Hmmmm, I see a stub function defined in Terminatur to try and prevent the fatal error that I experienced trying to download a site with drupal_fast_404() in the settings.php; if we update Terminatur in Kalabox this shouldn't be a problem.

[2014-06-21 00:58] bassettsj opened #22 "move to using github flow for collaboration"

[2014-06-23 20:06] chrisshattuck opened #23 "Getting a 502 error when installing"
I didn't dig in to figure out if this is an easily correctable issue, but after installation, I got a 502 error (I think it was in an overlay), and then after spinning up a site or going to what I assume would be PHPMyAdmin, I get a 502 there as well. I'm on a Mac, OSX v.10.9.2.

[2014-06-24 04:12] reynoldsalec commented on #8
That makes sense @pirog. For my own edification, what was the reason that we needed to have separate terminatur aliases in the first place? Just to make sure we don't have the test/live environments available?

[2014-06-24 19:17] pirog commented on #8
@reynoldsalec
We add a bunch of meta data to these separate aliases so we can construct information like the path to the git repo or the rsync command. We keep them separate because pantheon aliases interact with pantheon sites and terminatur aliases interact locally. We also don't want to "hack" the pantheon alias file for all the normal reasons.

What needs to be explored is whether we need to k

[2014-06-24 19:19] pirog commented on #23
@chrisshattuck can you post a screenshot? Is there an error message at all?

[2014-06-24 20:33] pirog commented on #22
+1

I've revoked all push access except for @reynoldsalec and myself to help enforce this for now. @reynoldsalec lets try to follow this like we are on kalatheme. it a great model.

@bassettsj, as soon as you get more familiar with the goals, etc of the project we can add you as an "owner" as well so you can partake in the great merging. Your experience with JS will be a huge bonus and i would enc

[2014-06-24 20:34] pirog commented on #12
@reynoldsalec make it so. i think the terminatur version is defined in one of the config JSON files.

[2014-06-24 20:39] pirog opened #24 "Builds and magic"
now that we have this thing on the github we should be testing our build from source to downloadable DMG and posting that dmg for all to download since github supports binaries to be posted with releases.

I would check out the instructions on the node webkit on how to actually go from source to binary.

ping me if you need other help or direction on this.

[2014-06-24 20:46] pirog commented on #18
I know a bunch of people who would be very pleased by this feature. Let's make it happen.

[2014-06-24 21:01] pirog commented on #4
@reynoldsalec yeah i definitely think its good to be as clean as possible for the full uninstall.

[2014-06-24 23:22] ari-gold commented on #23
I just had to reinstall Kalabox as I got my Macbook wiped at Apple store and I'm experiencing the same problem.

After install I get the error "Error
There's a problem with loading your sites list. Restarting the box may resolve it."

and in ~/.kalabox/kalabox.log I see

2014-06-24T23:18:53.129Z - info: Installation completed successfully.
2014-06-24T23:18:54.004Z - warn: Error retrieving sites li

[2014-06-25 00:22] joshkoenig commented on #8
FYI - We have an issue in Terminus itself where building a new alias file for a user who's on the team for 100s of sites times out.

https://github.com/pantheon-systems/terminus/issues/153

We're looking at how to make these calls more efficient.

[2014-06-25 00:26] pirog commented on #8
Thanks @joshkoenig that is great to know.

Let's keep def keep an eye on/help with this terminus issue but also do what we can to make terminatur more performant as well.

[2014-06-25 01:16] pirog commented on #23
Hey guys, i'd def check this related issue and also this to see if it resolves your problem. Slight diff in new php versions may be the culprit
http://www.nginxtips.com/php5-fpm-sock-failed-13-permission-denied-error/

[2014-06-25 01:37] Nitty-Gritty commented on #5
Can you please note that only Macs are currently supported on this page: http://www.kalamuna.com/products/kalabox-1.0 as it's marketed on drupal.org and in video as easy for beginners yet has that large caveat beginners won't necessarily realise until they try to setup the .dmg file.

[2014-06-25 02:57] reynoldsalec commented on #5
@Nitty-Grity updated on that page; also moved the requirements section on the wiki page to the top, so that should be über clear now.

[2014-06-25 16:22] ari-gold commented on #23
Thanks for tracking this down! That does appear to be the issue.

First I got start.kala up by editing  /etc/php5/fpm/pool.d/www.conf

;listen = /tmp/php-fpm.sock
 listen = 127.0.0.1:9000

and /etc/nginx/sites-enabled/start

 fastcgi_pass 127.0.0.1:9000;
 #fastcgi_pass unix:/tmp/php-fpm.sock;

And restarting nginx and php5-fpm

This would require changing all vhosts in sites-enabled.

So I looked

[2014-06-25 19:28] pirog commented on #23
@ari-gold solid!

That makes sense. You _may_ need to specify different ports for each vhost so 9001 for start.kala, 9002 for php.kala, etc

That all said, I think we want to roll with a socket instead of tcp for our use case. I suspect there was a change in the default php version that ships with 12.04 which is causing our config to fail. We will want to make sure the socket which is in /tmp has

[2014-06-25 19:28] bassettsj opened #26 "JShint refactor fun?"
Would be good to get the JSHint checks to pass, but that means some boring refactoring to get it done, but I think enforcing a coding style would be healthy. Anyone want to take this one on?

[2014-06-25 19:29] pirog commented on #23
@reynoldsalec i am pretty sure this is blowing up all new box installs we will want to roll out a new release ASAP.

[2014-06-25 19:48] pirog commented on #23
So this is actually an underlying issue with Kalastack and i can confirm it is an issue.
https://github.com/kalamuna/kalastack/issues/85

[2014-06-25 19:51] pirog commented on #23
The easiest fix for this as of right now is to SSH into the box or stack and run

[code]

[2014-06-25 20:04] pirog commented on #23
@reynoldsalec, fix has been posted in Kalastack but we need to roll a new release of Kalabox to pull it in
https://github.com/kalamuna/kalastack/commit/410a5ad7811c9fe70905e8d0417269fee92ab83c

[2014-06-25 20:30] reynoldsalec commented on #23
Awesome, @pirog let's look at rolling a new release this evening, we can document that procedure then.

[2014-06-25 20:31] pirog commented on #23
Perfect! That sounds great to me.

On Wed, Jun 25, 2014 at 1:30 PM, reynoldsalec notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-26 01:46] reynoldsalec commented on #12
Just committed update to newest terminatur version, should fix this.

[2014-06-26 02:12] pirog opened #27 "Upgrading to Beta6"
Trying to preempt this if people are having trouble.
https://github.com/mitchellh/vagrant/issues/3270

[2014-06-26 03:10] reynoldsalec commented on #13
Addressed in issue over in Terminatur, @steveixa check that out for more info.

[2014-06-26 03:10] #13 closed, assigned to reynoldsalec

[2014-06-26 04:15] reynoldsalec commented on #9
That should do this guy.

[2014-06-26 04:15] #9 closed, assigned to nobody

[2014-06-26 04:26] reynoldsalec commented on #14
Confirmed that this issue is a Kalabox issue (works fine in Terminus). Checking it out.

[2014-06-26 05:04] reynoldsalec commented on #14
Should be able to replace the double quotes like we are with single quotes, don't know why this won't work:

[code]

[2014-06-26 05:07] #27 closed, assigned to nobody

[2014-06-26 05:07] pirog opened #28 "Upgrade the box to work with Vagrant 1.6+ and VB 4.3.12+"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2830143-upgrade-the-box-to-work-with-vagrant-1-6-and-vb-4-3-12?utm_campaign=plugin&utm_content=tracker%2F1250748&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1250748&utm_medium=is

[2014-06-26 05:10] pirog commented on #23
This fix will be in the latest (and first open source) release

[2014-06-26 05:10] #23 closed, assigned to nobody

[2014-06-26 05:19] pirog commented on #18
@fluxsauce looking at this further we have to run "vagrant ssh" ... not sure if i want to bypass the wrapping function here.

good news is this should be a sinch in V2 :)

[2014-06-26 05:20] pirog commented on #12
I am still getting this funkstation

[2014-06-26 05:23] pirog commented on #7
yo @delajed!

Can you run "open ~/.kalabox/kalabox.log" and print the log contents here?

[2014-06-26 05:26] #17 closed, assigned to nobody

[2014-06-26 06:52] reynoldsalec opened #29 "Update Doesn't Work"
The current update process (the notification for updating) doesn't appear to work. DO NOT UPDATE YOUR KALABOX until we've resolved that, it could cause problems after update.

[2014-06-26 07:05] reynoldsalec commented on #29
It appears that updating can delete your kalastack files. To repair this...
1. Copy the folders .kalabox and .vagrant from your kalastack directory to a safe place (say your Desktop)

   `cp -r $HOME/.kalabox/kalastack/.kalabox $HOME/Desktop && cp -r $HOME/.kalabox/kalastack/.vagrant $HOME/Desktop`
2. Delete (or otherwise remove) the $HOME/.kalabox/kalastack directory

   `rm -r $HOME/.kalabox/kal

[2014-06-26 17:38] reynoldsalec commented on #29
There are two problems here:

One is that in Kalabox's update.js, it anticipates the updated Kalastack to be located at KALASTACK_BASE_URL + configuration['kalastack_version']), which is "http://files.kalamuna.com/3.0-beta4". When I uploaded Kalastack to that location, the update "worked."

HOWEVER, the second issue is that when Kalastack is rebuilt from the new version, it deletes the old .kalabo

[2014-06-26 17:40] pirog commented on #29
Given that 1.0 is near end of life I say we remove update func completely.
How many other updates to kalastack are we going to have?

On Thursday, June 26, 2014, reynoldsalec notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-26 18:06] reynoldsalec opened #30 "Remove Update Functionality"
We've had some issues with the update functionality (see #29), since we're reaching end-of-life for V1, let's just get rid of it.

[2014-06-26 18:06] reynoldsalec commented on #29
Down with that; just figured out that the update keeps the .kalabox and .vagrant (see the KEEP_FILES constant in updater.js), so now that I've uploaded the kalastack file, the update should work as expected. New issue for removing update is #30.

[2014-06-26 18:18] reynoldsalec opened #31 "Update Doesn't Show Progress"
The progress bar on update doesn't show anything. Also, the cog icon was missing on the upgrade page in my Box, although I noticed on @wardshark's Box (maybe an older build?) that it worked.

[2014-06-26 18:19] reynoldsalec commented on #29
Going to close for now, will handle support requests as they come in.

[2014-06-26 18:19] #29 closed, assigned to nobody

[2014-06-27 11:45] bacanapps opened #32 "Error: Failed to spin up virtual machine after 3 attempts. Error was: Command failed: The following SSH command responded with a non-zero exit status. Vagrant assumes that this means the command failed!"
### Kalabox Log

2014-06-26T13:29:23.358Z - info: Box initialized.
2014-06-26T13:29:23.359Z - info: Kalabox Version: 1.0-beta6
2014-06-26T13:29:23.359Z - info: Mac OS Version: 10.9.3

2014-06-26T13:29:23.360Z - info: VirtualBox Version: false
2014-06-26T13:29:23.360Z - info: Vagrant Version: false
2014-06-26T13:29:29.169Z - info: VirtualBox not installed or wrong version. Installing.
2014-06-26T13

[2014-06-27 20:45] reynoldsalec commented on #8
FYI, added an issue for this in the terminatur queue: https://github.com/kalamuna/terminatur/issues/25

[2014-06-27 20:46] reynoldsalec commented on #12
@pirog what does the log say? Is it the same drupal_fast_404 stuff?

[2014-06-27 20:52] pirog commented on #12
negative.

it may be related to these
2014-06-26T23:47:29.051Z - warn: Error retrieving sites list: Error:
connect ECONNREFUSED
2014-06-26T23:48:03.589Z - warn: Error retrieving sites list: Error:
connect ECONNREFUSED
2014-06-26T23:48:19.334Z - warn: Error retrieving sites list: Error:
connect ECONNREFUSED

On Fri, Jun 27, 2014 at 1:46 PM, reynoldsalec notifications@github.com
wrote:

##

Cheers,

[2014-06-29 23:57] pirog commented on #32
Can you try out the resolution proposed here?
https://github.com/kalamuna/kalastack/issues/92

[2014-06-30 00:02] pirog opened #33 "beta7"
i want to focus on the issues that are most relevant to the UX and stability

[2014-06-30 00:03] #33 closed, assigned to reynoldsalec

[2014-06-30 17:14] reynoldsalec commented on #12
Now I'm having the same problem, but it doesn't seem to be connected to SFTP mode. I suspect this is some issue with SSH key forwarding:

2014-06-30T17:13:09.576Z - warn: An error occurred in an async call.
cause stack is ...
  Error: Command failed: Could not git pull your code. Check that your SSH key is loaded and      [error]
the codeserver is reachable.

[code]

async call history is ...
 [ {

[2014-06-30 17:17] pirog commented on #12
Does it work if you just use the drush commands inside the box? Can you ping google?

[2014-06-30 17:21] reynoldsalec commented on #12
I can ping google, "drush pd" within the box successfully pulls a copy of the database.

[2014-06-30 17:23] pirog commented on #12
We stopped forwarding SSH keys but terminatur should post one for you which
you should be able to see in your P-dashboard. Can you just run git clone
with verbose debugging and see if anything obvious jumps out?

On Mon, Jun 30, 2014 at 10:21 AM, reynoldsalec notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-30 17:32] reynoldsalec commented on #12
The most obvious thing appears to be getting my publickey denied (good ole "Permission denied (password,publickey)").

Very strange since I'm able to pull code on other pre-existing repos from Pantheon.

[2014-06-30 17:33] pirog commented on #12
hmmmm...

can you pull it from your Mac?

On Mon, Jun 30, 2014 at 10:32 AM, reynoldsalec notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-30 17:36] reynoldsalec commented on #12
Yeah, works fine there.

[2014-06-30 20:31] kellybell opened #34 "Having problems installing (again) see error below"
### Kalabox Log

2014-06-30T20:07:36.741Z - info: Box initialized.
2014-06-30T20:07:36.743Z - info: Kalabox Version: 1.0-beta6
2014-06-30T20:07:36.743Z - info: Mac OS Version: 10.9.3

2014-06-30T20:07:36.743Z - info: VirtualBox Version: 4.3.8r92456

2014-06-30T20:07:36.743Z - info: Vagrant Version: Vagrant 1.4.3

2014-06-30T20:07:37.858Z - info: Existing VirtualBox installation, version 4.3.8
2014

[2014-06-30 20:34] pirog commented on #34
It just does not like you. Anything in error log beyond this?

[2014-06-30 20:42] pirog commented on #34
This is stopping when it tries to download the kalabox basebox. What do you have in ~/.kalabox/ ?

[2014-06-30 20:42] kellybell commented on #34
I ran the uninstall tool first, per usual - so, nothing.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 1:42 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 20:46] kellybell commented on #34
I'm going to try the whole process again, I guess. But step 1 is ALWAYS
ALWAYS ALWAYS uninstall. I never forget.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 1:42 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 20:46] pirog commented on #34
Uninstall.tool doesnt delete old baseboxes so it might still be in there.
100% sure that dir is empty?

On Mon, Jun 30, 2014 at 1:43 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-30 20:47] kellybell commented on #34
kelly-macbookpro:kbell 0 [06-30 13:05] ~

! cd ~/.kalabox/

kelly-macbookpro:kbell 0 [06-30 13:47] ~/.kalabox

! ls -a

.  ..

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 1:46 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 20:53] kellybell commented on #18
+++++ _I_ would be VERY pleased to see this happen!!! +++++

[2014-06-30 21:19] kellybell commented on #34
No go (again):

### Kalabox Log

2014-06-30T20:50:45.535Z - info: Box initialized.
2014-06-30T20:50:45.536Z - info: Kalabox Version: 1.0-beta6
2014-06-30T20:50:45.537Z - info: Mac OS Version: 10.9.3

2014-06-30T20:50:45.537Z - info: VirtualBox Version: false
2014-06-30T20:50:45.537Z - info: Vagrant Version: false
2014-06-30T20:50:53.783Z - info: VirtualBox not installed or wrong version.
Installin

[2014-06-30 21:27] pirog commented on #34
Got further this time... maybe just a network hiccup on the box download. The relevant pieces of the error seem to be:

Command failed: NFS is reporting that your exports file is invalid. Vagrant
does
this check before making any changes to the file. Please correct
the issues below and execute "vagrant reload":

exports:3: path contains non-directory or non-existent components:
/Users/kbell/kalabo

[2014-06-30 21:33] kellybell commented on #34
# VAGRANT-BEGIN: 259c9f99-f6fd-491b-8fc1-f7256c69a8cf

"/Users/kbell/kalabox/www" 192.168.42.10 -mapall=502:20
"/Users/kbell/kalabox/drush" 192.168.42.10 -mapall=502:20

# VAGRANT-END: 259c9f99-f6fd-491b-8fc1-f7256c69a8cf

# VAGRANT-BEGIN: 502 3a8fea33-6868-4808-a3f7-5d4f32f06680

"/Users/kbell/kalabox/www" 1.3.3.7 -alldirs -mapall=502:20

# VAGRANT-END: 502 3a8fea33-6868-4808-a3f7-5d4f32f06680

#

[2014-06-30 21:34] pirog commented on #34
Are you using these for anything?

[2014-06-30 21:40] kellybell commented on #34
No - I didn't install them even, AFAIK

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 2:34 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 21:42] pirog commented on #34
i could just delete everything in that file and try the installer again.
Shouldnt need to uninstall!

On Mon, Jun 30, 2014 at 2:40 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-06-30 21:43] kellybell commented on #34
I'd say this was pure PEBCAK, except I'm following the exact same process
each time and getting different results each time:
1. uninstall (option 2 - nuke all)
2. Copy to Applications folder
3. Launch and follow all permissions, etc. directions

The first time Kalabox just crashed - no warning, no error messages
The second-third times I logged the errors here.

There's just not that much for me to

[2014-06-30 21:44] kellybell commented on #34
ok I'll try that.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 2:42 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 22:15] kellybell commented on #34
Note that even without deleting the Vagrant installer file, this is taking
forever. I've literally been trying to install nonstop since you first sent
me the link today. Surely this shouldn't be taking this long, right?

I'm at "kalaboxing" right now (after emptying the etc/exports file).

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 2:44 PM, Kelly Bell kelly

[2014-06-30 22:23] pirog commented on #34
What is the vagrant installer file? Not sure what you mean by that.

We benchmark the total install at around 5-15 minutes from starting with nothing to full spin up depending on how fast your internet is. Obviously it will take longer if you have issues that we need to troubleshoot.

How long has it been "kalaboxing"?

If you want to try and "kalabox manually" and see any potential errors during

[2014-06-30 22:24] kellybell commented on #34
It's still 'boxing', but I checked the exports file and now it has:

# VAGRANT-BEGIN: 502 590ae2db-5b1b-4377-acdc-bb85e8311edb

"/Users/kbell/kalabox/www" 1.3.3.7 -alldirs -mapall=502:20

# VAGRANT-END: 502 590ae2db-5b1b-4377-acdc-bb85e8311edb

There is an option in the uninstaller that asks about nuking the Virtual
Box (not vagrant - sorry) installer file - this last time I chose not to
nuke it,

[2014-06-30 22:25] kellybell commented on #34
ie:

Do you want to remove the Kalabox VirtualBox image? This won’t impact
anything on your system, but may make future Kalabox installs take longer.
(y/n)

n

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:24 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 22:25] kellybell commented on #34
But even so, it's been a lot longer than 15 minutes. I guess if this fails
I'll do the manual box and see if that yields any useful info.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:25 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 22:27] pirog commented on #34
That's good re: exports. That looks much more normal and healthy. Got it on uninstall.tool, that option was added just for people whose downloads are corrupted.

Yeah it def shouldn't take that long. I'd give it 10 minutes more and then try to manually do it and see what happens.

This thread is a great example of why V2 is critical: no NFS/exports, no basebox download, no vagrant. no actual spin

[2014-06-30 22:28] kellybell commented on #34
I may not have time to keep on this today, if this last one fails. The
client coder for whom I was asking for a key earlier - I don't know if he's
having any trouble or not. I'll check on him tomorrow. He hasn;t said
anything about having trouble, but then he may not even have started it
yet.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:25 PM, Kelly Bell k

[2014-06-30 22:29] pirog commented on #34
Most people have been getting through the install OK.
The biggest "error" we are seeing right now is
https://github.com/kalamuna/kalabox/issues/12

[2014-06-30 22:32] kellybell commented on #34
Yes, I see. Well, it's likely I'll have that one too if it IS related to
fast_404 because ALL my settings.php files in Pantheon have that set to
run. If it's the key problem, then I'm sure I'll have that one too. :)

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:29 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 22:37] pirog commented on #34
I'm pretty @reynoldsalec solved the issue related to fast 404 in the latest terminatur release which is in beta6 but there are other things that cause funk here that we are investigating. It doesnt blow the whole thing up but its a little annoying cause you need to restart the box.

Another +1 for V2: config in ENV following the 12 factor app model.

[2014-06-30 22:38] kellybell commented on #34
HOLY CRAP I think it WORKED this time!!
SO here's the ONLY thing I did differently this time: I changed the file
permissions on etc/exports to read/write EVERYWHERE. I don't KNOW if that
fixed it, but it was locked down before. Since it's the only change I made
though, I'm suspicious that was the problem.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:37 PM,

[2014-06-30 22:39] pirog commented on #34
NFS is my personal Satan

[2014-06-30 22:39] pirog commented on #34
So you have the DASH and everything up and running?

[2014-06-30 22:40] kellybell commented on #34
Working on it now.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:39 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 22:41] kellybell commented on #34
Next feature ask from me would be if we can run the Box on an external
drive instead of the main drive... I know that's a lot to ask, but it would
sure make things better for me.

I'm authenticated and refreshing my sites from the P dash right now.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:39 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 22:43] kellybell commented on #34
(not ALL my sites, obi - just two of them - to use as tests)

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:41 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 22:47] kellybell commented on #34
Yes. Docker-b-rad. I can't WAIT for K2!!!

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:27 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 22:48] pirog commented on #34
@kellybell we've got a ticket internally for V2 that discusses portable boxes.... like physically portable ie USB, etc.

[2014-06-30 22:48] pirog commented on #34
Whoops! did i just say that publicly?

[2014-06-30 22:54] kellybell commented on #34
OMG OMG OMG OMG!!!!! Where do I sign up in my ecstatic ++++++++++ -ness?

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:48 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 22:57] kellybell commented on #34
So... I seem to be having some trouble downloading sites. I select "create
backup and dl" and DON'T select files... and it just errors out (after a
very long time) and asks me again after it fails (so far). Thoughts? Should
I open a SEPARATE ticket for this problem?

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:54 PM, Kelly Bell kelly@gothamcitydrupal.com
w

[2014-06-30 23:00] kellybell commented on #34
This is what it looks like while it's thinking. Then the green clouds turn
grey again and I get a popup asking me again how I want to get my files/db.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 3:57 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 23:00] pirog commented on #34
Yeah this is #12 ... if you restart the box i think the site shows up fine.

[2014-06-30 23:01] kellybell commented on #34
I've also tried re-trying using "use latest backup" with "no files" and
same thing happens.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 4:00 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-06-30 23:02] pirog commented on #34
I think it actually gets your stuff fine its just a weird problem at the end. @reynoldsalec and I are going to focus on #12 tonight and issue a hotfix for the app which should be a drag and drop update.

[2014-06-30 23:08] kellybell commented on #34
Oh. Weird - that's not what the issue sounded like to me. I'm a moron.

I restarted and the sites are there, as advertised.

Thanks!

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 4:00 PM, Mike Pirog notifications@github.com
wrote:

[2014-06-30 23:09] kellybell commented on #34
SWEEEEEET!! Sounds like so much fun... though I can imagine you guys would
so much rather be working on v2 right now...

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 4:02 PM, Mike Pirog notifications@github.com
wrote:

[2014-07-01 00:05] pirog commented on #18
Execute the following command:

vagrant ssh-config | grep IdentityFile  | awk '{print $2}'

Then you should get something like:

/<somepath>/<username>/.vagrant.d/insecure_private_key

Now you can ssh into the VM by:

ssh 127.0.0.1 -p 2222  -i /<somepath>/<username>/.vagrant.d/insecure_private_key -l vagrant

[2014-07-01 00:47] kellybell commented on #18
From where in my file system do I execute this command? I tried at root, at
usr/bin/vagrant, at ~, and in ~/kalabox. All show the same error:

kelly-macbookpro:kbell 0 [06-30 17:45] ~/kalabox

! vagrant ssh-config | grep IdentityFile | awk '{print $2}'

A Vagrant environment is required to run this command. Run `vagrant init`

to set one up in this directory, or change to a directory with a

Vagra

[2014-07-01 00:50] pirog commented on #18
dont worry about any of this :)
i just pasted it in here for the record

On Mon, Jun 30, 2014 at 5:47 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 01:03] pirog commented on #11
This has some more info
http://hackercodex.com/guide/how-to-stop-isp-dns-server-hijacking/

Some ISPs let you opt out so i would search for that. Switching your DNS to google or opendns may help as well.
http://www.howtogeek.com/howto/38793/how-to-switch-mac-os-x-to-use-opendns-or-google-dns/

[2014-07-01 01:07] pirog commented on #11
If you are rolling with TimeWarner here is their opt out page... presumably this would be for other horrible ISPs as well.
http://dnssearch.rr.com/prefs.php

[2014-07-01 02:01] kellybell opened #35 "Failure to spawn files/code backups on pantheon"
This may not be a real bug, but I went to my P dashboard and the two backups that I requested (via the clone site in Kalabox feature) failed. The db backups worked, but files and code both failed. I guess it's really only a cosmetic thing, but it might give people the wrong impression...

Cheers,
K

[2014-07-01 02:17] kellybell commented on #6
++

NFS sucks a$$

[2014-07-01 02:21] pirog commented on #35
If you mean you are asking pantheon to "make a new backup" when you select what database to use then yes that is what is supposed to happen. You are only backing up the database.

[2014-07-01 02:31] kellybell commented on #34
This may be unrelated (and/or may be #12 ), but I restarted as directed after downloading, to pick up the sites, and while they have their thumbnails now and they LOOK as if they're there, when I click any of the downloaded clouds or their links I get "Safari cannot find the server" error.

All the Box status' are green, and when I look in phpmyadmin I see all the databases are listed there, and t

[2014-07-01 02:34] kellybell commented on #35
I understand, but... I'm commenting on how users might perceive that
negatively, because it says "failed". If there is a way for it to make ALL
the pieces of the backups go ahead and work, but have Kalabox NOT CARE that
they've been created (i.e. move right on once it has the DB)  --  or
alternately,  find a way to ask for a DB backup without Pantheon seeing it
as a failure -- I'm just suggesting

[2014-07-01 02:38] pirog commented on #34
guessing the thing is looping before entries can be added to /etc/hosts. do
you have SITENAME.kala in there?

On Mon, Jun 30, 2014 at 7:31 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 02:39] kellybell commented on #34
Yes - it seems to be generating the site name .kala just fine, for both the
link and the thumbnail, and the URL is also listed in the Safari error.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 7:38 PM, Mike Pirog notifications@github.com
wrote:

[2014-07-01 02:39] kellybell commented on #34
Also, it happens VERY fast - almost instantaneous (the failure).

[2014-07-01 02:40] pirog commented on #35
might be something to ping @joshkoenig on. maybe there is a way in terminus
to only export a database vs doing a full backup but for only one
component.
i dont really think this is a big deal.

On Mon, Jun 30, 2014 at 7:34 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 02:41] pirog commented on #34
I would open up a new issue for this :)

[2014-07-01 02:41] kellybell commented on #34
will do.

[2014-07-01 02:42] kellybell opened #36 "Site downloads error"
This may be unrelated (and/or may be #12 ), but I restarted as directed after downloading, to pick up the sites, and while they have their thumbnails now and they LOOK as if they're there, when I click any of the downloaded clouds or their links I get "Safari cannot find the server" error.

All the Box status' are green, and when I look in phpmyadmin I see all the databases are listed there, and t

[2014-07-01 02:44] pirog commented on #36
SSH inside of the box and verify you have a vhost for that site. They should be at /etc/kalastack/vhosts/sites-available

[2014-07-01 02:48] #35 closed, assigned to nobody

[2014-07-01 02:50] kellybell commented on #36
Nope. It's empty.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 7:44 PM, Mike Pirog notifications@github.com
wrote:

[2014-07-01 02:51] kellybell commented on #34
done #36

[2014-07-01 02:52] pirog commented on #36
can you go into /var/www/SITENAME and verify your code is there? seems like your DB made it down ok?

[2014-07-01 02:53] kellybell commented on #34
Do we know definitively is this was fixed by changing the permissions on the /etc/exports file?

[2014-07-01 02:55] kellybell commented on #36
yes. All code is present.

<code>
vagrant@kala:/var/www/bkh$ ls -a
.              html5.html          misc                    scripts
..             includes            modules                 sites
authorize.php  index.php           nodes_centers.php       themes
cck.php        INSTALL.mysql.txt   nodes_neighborhood.php  update.php
CHANGELOG.txt  INSTALL.pgsql.txt   nodes.php               UPGRAD

[2014-07-01 02:58] pirog commented on #34
seems that way but i'd keep it open for awhile. There were a few strange
things in here so i'd def let it sit a bit.

On Mon, Jun 30, 2014 at 7:53 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 03:01] kellybell commented on #36
do you use a hash or checksum of some kind to confirm when the db has fully downloaded?

[2014-07-01 03:04] pirog commented on #36
OK. so prob vhost rage likely because #12 doesnt let it get that far. Here is a default vhost file

[code]

I would copy this in to `/etc/kalastack/vhosts/sites-available/mysite` and symlink it into `/etc/kalastack/vhosts/sites-enabled` with `ln -s /etc/kalastack/vhosts/sites-available/mysite /etc/kalastack/vhosts/sites-enabled/mysite` and then restart nginx  `sudo service nginx restart`

[2014-07-01 03:07] pirog commented on #36
At the end of the day your DB is just being downloaded with
_drush_download_file

On Mon, Jun 30, 2014 at 8:01 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 03:13] pirog commented on #36
Obviously you need to replace mysite with your actual site name here too :)

[2014-07-01 03:15] kellybell commented on #36
hrm (db dl).

There isn't even a kalastack dir at etc. (/etc/kalastack doesn't exist)

If I have to do this for every site I'll lose my mind, so I'm going to pick this back up tomorrow.

[2014-07-01 03:17] kellybell commented on #36
'mysite' has to be edited inside the vhosts file as well, so yeah - I'd rather start over when #12 is fixed rather than edit all this, honestly.

[2014-07-01 03:19] pirog commented on #36
@kellybell fair enough but wanted to post it for others.

/etc/kalastack should be in your box not on your mac

[2014-07-01 03:27] mdyorke commented on #11
Thanks @pirog, I will give this a try!

[2014-07-01 03:35] kellybell commented on #36
sure - I started out at vagrant@kala but popped myself out of it when I went back to look and missed it, sorry.

So yes - the vhost files are present:

<pre>
vagrant@kala:/etc/kalastack/vhosts/sites-available$ ls -a
.  ..  bkh  iberdrola  mysite  scc-v2
</pre>

[2014-07-01 03:36] kellybell commented on #36
and the contents of the vhost files are as expected.

[2014-07-01 03:43] pirog commented on #36
so you have entries in /etc/hosts on your mac for these sites? and they have vhosts? and they have code and data?

[2014-07-01 03:43] reynoldsalec opened #37 "Clear Terminatur Key Cache on Authentication Through UI"
Kalabox users who were previously using a forwarded-in key will experience an issue where the new Kalabox does not forward the key, but Terminatur does not generate a new key because it has the old key cached in $HOME/.drush (on the virtual machine) and believes it still exists.

This may be ONE issue that causes symptoms like #12, but probably not the main issue.

[2014-07-01 03:46] kellybell commented on #36
No - all the other times I checked I was in ssh in the Box - it was just
that last time I popped out somehow and didn't catch that I had done.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 8:43 PM, Mike Pirog notifications@github.com
wrote:

[2014-07-01 03:48] pirog commented on #36
ok so you don't have /etc/hosts entries? Spell it out for me @kellybell

[2014-07-01 03:51] kellybell commented on #36
No - I do. I have everything you've asked me about so far, and they're all
where they're supposed to be. But the sites don't load in the browser.
Sorry for the earlier confusion on vhosts.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Mon, Jun 30, 2014 at 8:48 PM, Mike Pirog notifications@github.com
wrote:

[2014-07-01 03:52] pirog commented on #36
Ok. That is good to know and obviously strange since those are the things you need. We will look into that more. In the meantime you can enjoy this
https://github.com/kalamuna/kalabox/issues/18

[2014-07-01 03:53] pirog commented on #18
As long as you have set iTerm (or whatevs) as the default ssh handler correctly this should work. Would encourage someone to build from head to test.

[2014-07-01 03:54] kellybell commented on #18
How do we update if we already have Kv1b6 running?

[2014-07-01 03:57] pirog commented on #18
It's funny you ask that... i am just updating the docs to reflect how to
run from source :)

On Mon, Jun 30, 2014 at 8:54 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 04:06] pirog commented on #18
https://github.com/kalamuna/kalabox/wiki/Contributing-to-Kalabox

[2014-07-01 04:08] kellybell commented on #18
And... I googled it because I wasn't sure I was right about this, but I don't know that you CAN set iTerm (or any app besides Terminal) to be the default shell app - but maybe if we know exactly which file type is being accessed to open it... is it <pre>myfile.sh</pre>

[2014-07-01 04:09] pirog commented on #18
which is why i said "set to default ssh handler" and not default shell app :)
http://apple.stackexchange.com/questions/28938/set-iterm2-as-the-ssh-url-handler

[2014-07-01 04:12] kellybell commented on #18
Excellent - I had already done this, so hopefully it will "just work", once I can update my Box. Thanks @pirog !

[2014-07-01 04:14] reynoldsalec commented on #37
Successfully recreated this issue by deleting my terminatur.id_rsa and terminatur.id_rsa.pub keys from $HOME/.ssh in Kalabox virtual machine. Trying a site install then fails.

I've uncommented some code in the pantheon-auth.js for the close() function that should clear the terminatur drush cache so a new key will be created if people sign in/out of Pantheon on the Kalabox. @pirog is suggesting cl

[2014-07-01 04:14] pirog commented on #18
Which you _could_ do now by building from source if you wanted :)
https://github.com/kalamuna/kalabox/wiki/Contributing-to-Kalabox

[2014-07-01 04:16] kellybell commented on #18
I _could_, and I _will_, but I am now on my 20th straight hour at the kb, and I'm ready to jump off a bridge, except I'm too tired. I'll catch y'all tomorrow, ladies!

[2014-07-01 04:17] pirog commented on #18
curtsy

[2014-07-01 04:35] #18 closed, assigned to nobody

[2014-07-01 05:34] #31 closed, assigned to nobody

[2014-07-01 05:38] reynoldsalec commented on #37
New strategy: just change this in terminatur and include updated terminatur version in the update json.

We'll change the name of the terminatur key cache so when the next terminatur command is run on Kalabox, it will not see the cached record of the non-existent key and be forced to generate a new key. From then on it should use the new key.

If this becomes a consistent problem we might consider

[2014-07-01 05:59] #37 closed, assigned to reynoldsalec

[2014-07-01 07:24] pirog commented on #36
This should be resolved in the latest dev

[2014-07-01 07:24] #36 closed, assigned to nobody

[2014-07-01 07:25] pirog commented on #12
We needed /bin/node to do our /etc/hosts stuff. Because it wasn't there it was always failing and producing this.

Maybe @bassettsj has suggestions on how node can edit /etc/hosts in a different way that doesn't include us packaging in the node binary?

[2014-07-01 07:29] pirog opened #38 "When you try to delete a site it gets stuck"
According to drush crush verbose/debug output this is where things stop
Executing: ssh-keygen -C "terminatur@kala.e1adde9580d7d3dca034644a2795b8cd.box" -f "/home/vagrant/.ssh/terminatur.id_rsa" -P ""

@reynoldsalec does this make sense at all to you?

[2014-07-01 07:46] pirog commented on #38
This gets stuck because

 ssh-keygen -C "terminatur@kala.e1adde9580d7d3dca034644a2795b8cd.box" -f "/home/vagrant/.ssh/terminatur.id_rsa" -P ""
Generating public/private rsa key pair.
/home/vagrant/.ssh/terminatur.id_rsa already exists.
Overwrite (y/n)?

If you pass in "-y" it works fine but the bigger point is we dont want to be regenerating this if it already exists.

[2014-07-01 07:57] pirog commented on #38
-y for ssh-keygen causes all ops to fail if a terminatur key already exists.
crush fails because node does not pass in -y to confirm delete

[2014-07-01 08:05] #38 closed, assigned to nobody

[2014-07-01 17:31] kellybell commented on #34
BOOM!
The latest dev build worked perfectly - without a hitch.

I uninstalled using option #2 and "no", then reinstalled the latest dev build. It took about 12 minutes, and the sites downloaded and launched in browser without restart or any other problems.

C O N G R A T U L A T I O N S ! ! ! ! !

[2014-07-01 18:05] pirog commented on #34
That's what a late night and some whiskey can do :)

CLOSE THIS ISSUE :)

On Tuesday, July 1, 2014, Kelly Bell notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-01 18:08] kellybell commented on #34
BOOM!

[2014-07-01 18:08] #34 closed, assigned to nobody

[2014-07-01 18:10] pirog commented on #30
This seems to be working ok now after your research so let's close this issue.

[2014-07-01 18:10] #30 closed, assigned to nobody

[2014-07-01 18:14] #22 closed, assigned to nobody

[2014-07-02 00:57] pirog opened #39 "Hostsupdate plugin randomly uninstalled?"
this could just be a false report but wanted to put it here for others. for reasons yet unknown it seems like my hostsupdater vagrant plugin was uninstalled.

the best way to determine whether this is the case is to be able to visit a downloaded site in your browser but not php.kala or start.kala. You will also likely get a "unable to load sites list" error.
##

<bountysource-plugin>

---
Want to

[2014-07-02 01:20] kellybell opened #40 "Question: Git GUI (ie Tower) integration FAQ?"
Is there a FAQ on integrating Tower (http://git-tower.com) with Kalabox?

[2014-07-02 03:00] pirog commented on #40
There is not.

On Tue, Jul 1, 2014 at 6:20 PM, Kelly Bell notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-02 03:22] kellybell commented on #40
Welllllll... There needs to be :)

On Jul 1, 2014, at 20:00, Mike Pirog notifications@github.com wrote:

There is not.

On Tue, Jul 1, 2014 at 6:20 PM, Kelly Bell notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

—
Reply to this email directly or view it on GitHub
https://github.com/kalamuna/kalabox/issues/40#issuecomment-47732654.

[2014-07-02 03:30] pirog commented on #8
I've made this more efficient in terminatur which results in less requests to terminus. @bwood i am pushing out a development build of kalabox with this in it tonight if you want to try it out sometime. I'll post back when the release is out!

[2014-07-02 03:40] pirog commented on #8
https://github.com/kalamuna/kalabox/releases/download/1.0-tango4/kalabox-1.0-dev.dmg
it will probably prompt you to update after you start it and say yes to that :)

[2014-07-02 03:42] pirog commented on #8
I'm going to close this for now because im not sure there is much more we can do on our side but please let us know if it helps!

[2014-07-02 03:42] #8 closed, assigned to nobody

[2014-07-02 03:43] pirog commented on #11
Did it work for you?

[2014-07-02 04:35] pirog commented on #14
Looked into this more... if you try a double quote with pauth not using the password flag it is all good. However, if you try to use a double quote with the password flag then it fails.

[2014-07-02 04:45] pirog commented on #14
However if you wrap password in single quotes it succeeds. So:

[code]

[2014-07-02 04:54] andrewmallis commented on #40
Tower is git client like smartgit or sourcetree or many other such applications that provide a window the the git version history,  and allow the user to perform operations like branching, merging, comparing differences, or committing their code upstream.

To access any repository, these apps just need to access the .git directory of a project. Since Kalabox connects to your sites via the guest's

[2014-07-02 05:19] kellybell commented on #40
yes and no. it needs to be integrated because i want the app to see
pantheon as the upstream and the box as local  that's not easy to do the
way the box is set up.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Tue, Jul 1, 2014 at 9:54 PM, Andrew_Mallis notifications@github.com
wrote:

[2014-07-02 05:20] kellybell commented on #40
that's why i said integration.

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Tue, Jul 1, 2014 at 10:19 PM, Kelly Bell kelly@gothamcitydrupal.com
wrote:

[2014-07-02 05:33] andrewmallis commented on #40
Connecting Tower to a remote upstream is an issue unrelated to Kalabox.

Setting multiple upstreams can be done in the .git/config for the project and is a particular workflow decision. Tower can [assist you there](http://www.git-tower.com/files/applicationHelp/pgs/Refs_Remotes_Add.html).

Personally, I can understand a need for 2 remote upstreams, like Pantheon and github you would need to push t

[2014-07-02 05:37] kellybell commented on #40
Thanks Mallis! In had no idea - great to know
-K

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Tue, Jul 1, 2014 at 10:33 PM, Andrew_Mallis notifications@github.com
wrote:

[2014-07-02 06:53] kellybell opened #41 "[FEAT REQ] UX: shows "Box Me" on startup, even after install"
I know this isn't actually a bug, but it IS a UX issue I think - more because it's there long enough for some user to hit Box Me again, and it's misleading and LOOKS like an error if users see it and they know they're supposed to be already installed.

SO just a nice-to-have: put up a progress bar or something INSTEAD of this, once the Box has already been installed.

[2014-07-02 07:29] pirog commented on #41
Agreed... Sadly it's actually more complicated than it looks... A vestige
of the appjs to node-WebKit migration.

On Tuesday, July 1, 2014, Kelly Bell notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-02 08:07] kellybell commented on #41
oh well. on to v2!!!

Kelly Bell
Founder and CTO
Gotham City Drupal
917-446-1555

On Wed, Jul 2, 2014 at 12:29 AM, Mike Pirog notifications@github.com
wrote:

[2014-07-02 14:31] mdyorke commented on #11
Yea! between that and cleaning up the leftover MAMP code in the Localhosts file it now runs smooth.

[2014-07-02 16:25] bwood commented on #8
Just to report back.  I downloaded the dev version and I'm afraid that
the problem remains for me.  I get "Unable to sign in.  Please check
your credentials."

Brian Wood
Applications Programmer
UC Berkeley, IST/API

On 7/1/14, 8:42 PM, Mike Pirog wrote:

[2014-07-02 19:23] pirog commented on #8
Ick... bummer. I think this might have to be resolved purely on the terminus end then.

Can you paste the output of "cat ~/.kalabox/kalastack/config.json" here? Just want to verify it's all up to date!

[2014-07-02 19:26] pirog commented on #11
Awesome! That is great to hear.

Going to close this for now but I wonder if there is a way for us to "fix" this for users without being too intrusive.

[2014-07-02 19:26] #11 closed, assigned to nobody

[2014-07-02 19:34] pirog commented on #41
yeah totally! i dont think we will be adding many features, if any, to V1 if we get the $$ to work on V2.

[2014-07-02 19:42] bwood commented on #8
Here you go:

[code]

[2014-07-02 20:51] pirog commented on #5
There are a couple Mac explicit calls in the app but im going to roll a debian version and see what this BAMF does

[2014-07-02 20:58] pirog commented on #6
@reynoldsalec would love to make this a focus for beta8

[2014-07-02 21:30] pirog commented on #5
I think this is about to become a bigger issue or its own milestone but its useful and needed for V2 so ...

[2014-07-02 21:35] reynoldsalec commented on #5
You are my hero @pirog, shit is about to get real.

[2014-07-02 22:08] reynoldsalec commented on #6
Definitely, maybe roundhouse with @substack next Friday if the good Mr. Halliday is free?

[2014-07-02 22:13] pirog commented on #5
Prelim list of things we will need to change:
1. Linux based password popup and password storage
2. Installer needs to be able to install debian packages
3. Linux node binary (still need a better overall approach here)
4. Use correct tmp dir.
5. Firewall checking
6. Restarting virtualbox during install11
7. Checking mac version
8. Storing pantheon credentials
9. is curl installed on ubuntu by defa

[2014-07-03 13:29] cspin opened #42 "Uh oh... vagrant-hostsupdater installation (still) chokes"
Just tried installing 1.0-beta7 (despite what the log says about it being beta6)... I'm still getting a permission error when it tries to install the vagrant-hostsupdater gem. This was after using the uninstall tool to completely remove the package (including vagrant and virtual box). Also noticed I wasn't prompted for a password at any time during the installation process, which used to occur wit

[2014-07-03 14:24] pirog commented on #42
Password is prob saved in keychain from previous builds. We should delete
that on uninstall though if you want to open a new ticket.

What happens if you run "vagrant plugin install vagrant-hostsupdater" on
the command line?

On Thursday, July 3, 2014, Crispin Bailey notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-03 14:30] pirog commented on #42
Also can you run the installer again and print the log again when it fails?

On Thursday, July 3, 2014, Mike Pirog mike@kalamuna.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-03 19:27] pirog commented on #5
Did some more research on this and i think it _might_ just be stupid for V2. Is their any considerable advantage to us running docker inside a VM on linux? I'm def thinking no. In that case we shouldn't support this on V1 since there is not a ton of benefit that we can port forward to v2.

@labboy0276 ... can you try setting up https://github.com/kalamuna/kalastack-docker on Ubuntu and see how it

[2014-07-03 19:29] pirog commented on #5
@labboy0276 you shouldn't need to install boot2docker at all for this... just install the latest docker for debian linux and then try the other commands out. see if you can get things running. when it comes time to building a site you might want to ping @fluxsauce on the steps to get a site up using switchboard but i think he wrote pretty clear docs on the switchboard repo.

[2014-07-03 19:33] fluxsauce commented on #5
@labboy0276 Yeah, mosdef let me know if you need a hand. https://github.com/fluxsauce/switchboard/blob/master/README.md should get you on a path to awesome.

[2014-07-03 19:35] labboy0276 commented on #5
I will win this

[2014-07-03 19:40] cspin commented on #42
If I just run "vagrant plugin install vagrant-hostsupdater" in terminal it runs but doesn't actually install it. I confirmed this just now by running it then using "vagrant plugin list" and got "No plugins installed." The only way I've been able to install it in the past is by using sudo before the command. Then it installs fine.

[2014-07-03 19:42] cspin commented on #42
On a second attempt (without uninstalling anything) I got this error log:

### Kalabox Log

2014-07-03T13:24:09.083Z - info: Box initialized.
2014-07-03T13:24:09.084Z - info: Kalabox Version: 1.0-beta6
2014-07-03T13:24:09.084Z - info: Mac OS Version: 10.9.3

2014-07-03T13:24:09.084Z - info: VirtualBox Version: false
2014-07-03T13:24:09.084Z - info: Vagrant Version: false
2014-07-03T13:24:19.051Z -

[2014-07-03 19:45] pirog commented on #42
Interesting. I've never had to use sudo to install a vagrant plugin before. Let me add some logic to this real quick and roll a dev release if you are down to test it out real quick :)

[2014-07-03 19:49] cspin commented on #42
Sure thing! Happy to test. :)

[2014-07-03 19:49] pirog commented on #42
K, we are deploying some final KS updates and then i will roll a new dev release for you to try!

[2014-07-03 19:50] cspin commented on #42
Awesome. Ready when you are!

[2014-07-03 21:58] pirog commented on #42
@cspin about to post an APP for you to DL... standby!

[2014-07-03 22:00] labboy0276 commented on #5
@fluxsauce @pirog

OK so this is what John did:

Docker Install
sudo apt-get update
sudo apt-get install linux-image-generic-lts-raring linux-headers-generic-lts-raring
sudo reboot
sudo spt-get install apt-transport-https
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 36A1D7869245C8950F966E92D8576A8BA88D21E9
sudo sh -c "echo deb https://get.docker.io/ubuntu docker main /etc

[2014-07-03 22:26] possiBri opened #43 "Unexpected error while installing"
As per the instructions, here is the log info. Also, I just now noticed that it says it was installing beta6 but the file I d/l said beta7. Maybe it's just a typo, but I figured I should mention it!
### Kalabox Log

2014-07-03T22:19:56.127Z - info: Box initialized.
2014-07-03T22:19:56.128Z - info: Kalabox Version: 1.0-beta6
2014-07-03T22:19:56.128Z - info: Mac OS Version: 10.9.4

2014-07-03T22:19:

[2014-07-03 22:28] possiBri commented on #43
Forgot to mention that this is on a brand new MBP that hasn't had previous versions of Kalabox installed or really much of anything besides Chrome and other standard apps.

[2014-07-03 22:29] pirog commented on #43
Yeah that is my bad on the version :) if the dmg says beta 7 trust that!

If you open up a terminal can you run "vagrant --version" and print the output?

[2014-07-03 22:30] pirog commented on #43
also great username :)

[2014-07-03 22:33] possiBri commented on #43
haha thanks! And now, looking at the requirements I see I need to install vagrant and virtualbox, which I completely missed >_<. I'm guessing this is what caused the error, so I'm going to install those, try again, and get back to you asap. Thanks for the quick reply!

[2014-07-03 22:34] pirog commented on #43
Kalabox should actually install those things for you and according to the log it did... so it is puzzling why it doesnt think the vagrant command exists.

Were you prompted for your admin password when you started the installer?

[2014-07-03 22:35] pirog commented on #42
https://github.com/pirog/kalabox/releases/tag/1.0-42-sudovagrantplugins BOOM! let me know if that works.

[2014-07-03 22:38] possiBri commented on #43
I sure was, and when I ran vagrant --version  I did receive the message "vagrant: command not found" so I assumed that was my fault for not installing.

Now that I'm thinking about it though, I've got a separate admin account, so perhaps I need to actually install logged in as admin, and not just put in admin pw. Will try that now.

[2014-07-03 22:40] pirog commented on #43
yeah  you def need to install as an admin user because Kalabox will install a bunch of stuff on your system!

[2014-07-03 22:46] possiBri commented on #43
Definitely! I'm so used to invoking admin from my "regular" account that I didn't even think about it. So I  logged into the admin account and clicked Box Me! but now it seems to be hung on the initial "downloading stuff" screen. Since I started the install before, is there something I need to clean/remove to start fresh?

[2014-07-03 22:48] pirog commented on #43
in the DMG there is an Uninstall.tool you can run. Option #2 is a complete uninstall but i _think_ you should be fine without running that.

[2014-07-03 23:02] possiBri commented on #43
Still hung after running Uninstall.too and using option 2.

[2014-07-03 23:06] pirog commented on #43
:(
i haven't tried this on OSX 10.9.4 yet. I wonder if that breaks something in node-webkit. Let me roll a more recent release for you with that new stuff and you can try that out. Are you down?

[2014-07-03 23:13] possiBri commented on #43
I am super down! You're awesome, thanks =]

[2014-07-03 23:15] possiBri commented on #43
WAIT! I ran the unintall.tool again and this time it actually asked for pw. And now it's not hung. Will update ASAP!

[2014-07-03 23:21] cspin commented on #42
Coolio! Trying now...

[2014-07-03 23:23] possiBri commented on #43
HA! I have been boxed and can now see the dashboard and everything. Thanks again for your help and awesome replacement for the dinosaur that is MAMP (I thoroughly enjoyed your presentation at Drupalcon)!

[2014-07-03 23:23] pirog commented on #43
Awesome! Maybe the password dialog box got hidden the first couple tries?

On Thursday, July 3, 2014, possiBri notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-03 23:24] possiBri commented on #43
Well, it was the pw prompt within the Uninstall.tool... I hadn't been asked for one when running it the first time, but when I ran it a second time it asked... so not sure what happened, but once I gave the pw I'm guessing it actually removed stuff instead of just saying it was removed.

[2014-07-03 23:25] pirog commented on #43
Oh you were there? Thanks! V2 is going to make V1 look a dinosaur too.
Which means MAMP will be going out of style like the Permian extinction.

Let me know if you have any other issues!

On Thursday, July 3, 2014, possiBri notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-03 23:26] possiBri commented on #43
Yeah, and was just waiting for my new MBP to install... this is a great start to a long weekend. Hope you also have a great one =]

[2014-07-03 23:28] cspin commented on #42
Err... ok first attempt failed. I just uninstalled Kalabox but not _everything_. Gonna try that next. Meanwhile here's the log:

2014-07-03T23:26:07.413Z - info: This platform is darwin
2014-07-03T23:26:07.748Z - info: Box initialized.
2014-07-03T23:26:07.748Z - info: Kalabox Version: 1.0-beta6
2014-07-03T23:26:07.748Z - info: Mac OS Version: 10.9.3

2014-07-03T23:26:07.748Z - info: VirtualBox Ver

[2014-07-03 23:32] pirog commented on #42
Almost the same error here... lt looks like the command isn't failing
anymore but it still isn't installed ...

On Thursday, July 3, 2014, Crispin Bailey notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-03 23:37] pirog commented on #43
I will! Going to close this but feel free to reopen or submit a new one if you have other issues!

[2014-07-03 23:37] #43 closed, assigned to nobody

[2014-07-03 23:44] cspin commented on #42
Yeah. Just tried again... here's the error message (looks pretty much the same):

2014-07-03T23:29:23.311Z - info: This platform is darwin
2014-07-03T23:29:23.334Z - info: Box initialized.
2014-07-03T23:29:23.335Z - info: Kalabox Version: 1.0-beta6
2014-07-03T23:29:23.335Z - info: Mac OS Version: 10.9.3

2014-07-03T23:29:23.335Z - info: VirtualBox Version: false
2014-07-03T23:29:23.338Z - info: Va

[2014-07-03 23:45] pirog commented on #42
Here's another suggestion: Uninstall the box again with #2 and then also run make sure you have removed the "~/.vagrant.d" directory before re-installing Kalabox.

[2014-07-03 23:46] cspin commented on #42
Ok will do. Will report back soon.

[2014-07-03 23:46] pirog commented on #42
This seems potentially illuminating as well
https://groups.google.com/forum/#!msg/edx-code/pW0gFtrykCU/6r34MXHmzvsJ

[2014-07-03 23:53] cspin commented on #42
Hello what's all this? I tried to delete "~/.vagrant.d" directory without sudo and got the errors below. Then nuked it with sudo. Gonna start the 'box installer one more time, from the top!

![screen shot 2014-07-03 at 7 49 34 pm](https://cloud.githubusercontent.com/assets/2717570/3476985/d190a666-030c-11e4-85b0-7bf9c423a494.png)

[2014-07-03 23:56] pirog commented on #42
i def think there is something funky with not being able to write to a dir in your own home folder... this should be owned by you and not root. I think this might be the essence of the issue.

[2014-07-04 00:01] pirog commented on #42
I'm trying a complete wipe and rebuild out as well!

[2014-07-04 00:17] pirog commented on #42
I was actually able to replicate this!

[2014-07-04 00:20] cspin commented on #42
Whaaat???

Definitely something strange going on... I've been having this issue since the first time I tried installing - on my brand new macbook pro running a fresh up-to-date version of maverics!! That's what I don't get. I didn't migrate any settings or files from my old laptop... but it's like there's some OS configuration setting that's causing all these permission issues.

[2014-07-04 00:28] pirog commented on #42
OK. I am trying a complete uninstall + delete .vagrant.d and then reinstall with beta7. I'll let you know what happens.

[2014-07-04 00:32] pirog commented on #42
OK. So this is what i am seeing:
1. Uninstall #2, plus rm ~/.vagrant.d and then reinstall with Beta7 = success
2. Uninstall #2, plus rm ~/.vagrant.d and then reinstall with 1.0-42-sudovagrantplugins = Unknown configuration section 'hostsupdater'.

Does 1 still give you permission denied? If so there might be something funky in your OS we can try to handle. I would try 1 and if it fails see what th

[2014-07-04 01:27] cspin commented on #42
I'll try. Hang on. :)

[2014-07-04 02:17] pi-ron commented on #12
This is still happening for me :-(

Is there anything I can do to test / help?

[2014-07-04 02:31] cspin commented on #42
Omg it's up! Yay! Scenario 1 = success :)

[2014-07-04 02:32] pirog commented on #42
Awesome! I'll add removing that directory to the uninstal.tool!

On Thursday, July 3, 2014, Crispin Bailey notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 02:33] pirog commented on #12
Are you running the new beta7?

On Thursday, July 3, 2014, Tigeda notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 03:41] pi-ron commented on #12
I've just uninstalled beta5 (it did do some updates this morning) completely (Vagrant & Virtualbox). Re-installed beta7.

I'm still getting the popup loop.. Can't download any sites.

Going to Kalabox > About Kalabox says Version 1.0.0 (1.0.0)

[2014-07-04 06:53] pirog commented on #12
Can you SSH into your box and run "rm -rf ~/.drush/cache" and then try to
download a site?

On Thursday, July 3, 2014, Tigeda notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 12:12] rfmarcelino commented on #12
I'm stuck with the loop either. The 'create new site' keeps appearing even with the most recent updates and cleaning the drush cache.
The sites are created without the success message, and aren't available at http://eachsitename.kala
Also, I'm unable to delete them. Could it be related (like permissions)?
![screen shot 2014-07-04 at 13 04 15](https://cloud.githubusercontent.com/assets/5331086/3481

[2014-07-04 13:06] pirog commented on #12
Hmmm, all these issues were def present in beta5 and beta6...  Can you both
run "cat ~/.kalabox/kalastack/config.json" from your Mac and paste the
output here?

On Friday, July 4, 2014, rfmarcelino notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 13:10] rfmarcelino commented on #12
{
  "boxname": "kalabox",
  "boxuser": "vagrant",
  "kalastack_version": "3.0-beta4",
  "terminatur_version": "1.0-beta1",
  "puppet_environment": "deprecated",
  "default_memory": "2048",
  "memory_divisor": "4",
  "box_location": {
    "32": "http://files.kalamuna.com/kalabox32.box",
    "64": "http://files.kalamuna.com/kalabox64.box"
  },
  "ip": "1.3.3.7",
  "host_ip": "1.3.3.1",
  "host_entri

[2014-07-04 13:13] pirog commented on #12
That's definitely right. Are you logged into pantheon on the configure tab.
If so, logout and then login again. I think your SSH key is not being
generated.

On Friday, July 4, 2014, rfmarcelino notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 15:01] labboy0276 commented on #5
@pirog Everything within the docker container runs UBER slow and I cant get it to connect index.php.

SO, i went back in and added the ports and it worked all happily.  PROBLEM was that I was not setting the IP right and we figured that out with inspect.  I updated my instructions above

[2014-07-04 15:20] pirog commented on #5
Makes sense. The containers should be super fast when configured correctly.

On Friday, July 4, 2014, John Ouellet notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 15:28] labboy0276 commented on #5
@pirog All seems well, but composser and drush commands take forever, drush is uber slow, any ideas? like this command drush sw-auth-login pantheon user@example.com password took 4 minutes to execute

[2014-07-04 21:11] labboy0276 commented on #5
I tried amny things, but to no avail, maybe it is a port thing, I am not sure.

All drush commands take significant time to run with this current setup I did

[2014-07-04 21:26] pirog commented on #5
Are you passing in --debug and --verbose on your commands? Where is it
getting slowed down?

On Friday, July 4, 2014, John Ouellet notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-04 22:19] labboy0276 commented on #5
Yes it something that is happening prior to drush executing

Sent from my iPhone

[2014-07-05 03:43] labboy0276 commented on #5
I am pretty sure this has to do with php-cli and 5.4 weirdness and delays and things like that.  I have read many things, tried many things.  I even built my own docker container:

https://registry.hub.docker.com/u/labboy0276/kalastack-docker-5.3/

Git REPO

https://github.com/labboy0276/kalastack-docker-5.3

I am stuck with this, I have tried all John could.  @pirog @fluxsauce

[2014-07-05 17:32] tschet opened #44 "Can't install correctly"
### Kalabox Log

2014-07-05T16:38:57.855Z - info: Box initialized.
2014-07-05T16:38:57.856Z - info: Kalabox Version: 1.0-beta6
2014-07-05T16:38:57.856Z - info: Mac OS Version: 10.9.3

2014-07-05T16:38:57.857Z - info: VirtualBox Version: false
2014-07-05T16:38:57.857Z - info: Vagrant Version: false
2014-07-05T16:39:02.059Z - info: VirtualBox not installed or wrong version. Installing.
2014-07-05T16

[2014-07-05 17:35] tschet commented on #44
I'm using OS X 10.9.3.  I've tried installing multiple times with uninstall run in between. I originally had Virtualbox installed, but I've now tried it with and without Virtualbox installed. The errors always seen to be the same.

[2014-07-06 01:13] Picturina opened #45 "OS 10.6.8 install error Kalabox 1.0 beta 6 (it says)"
I don't usually use my Mac for development, but until the PC version is ready, I'm wiling to try.  So, after a day and a half of downloads... is this a firewall problem?
Thanks!
diane
### Kalabox Log

2014-07-05T01:01:19.138Z - info: Box initialized.
2014-07-05T01:01:19.140Z - info: Kalabox Version: 1.0-beta6
2014-07-05T01:01:19.140Z - info: Mac OS Version: 10.6.8

2014-07-05T01:01:19.140Z - info:

[2014-07-06 04:51] pirog commented on #45
Kalabox is actually not support on OSX 10.6, only 10.7 and above. This is a requirement imposed on use by vagrant, one of the underlying technologies.

That said, kalabox v2 should be 10.6 friendly :)

[2014-07-06 04:53] pirog commented on #44
Have you tried to run "vboxmanage --version" on the command line as the message suggests? What does it tell you?

[2014-07-06 22:45] cspin commented on #42
Sweet. I think we can close this issue now, thanks!!! :)

[2014-07-06 23:06] pi-ron commented on #12
{
  "boxname": "kalabox",
  "boxuser": "vagrant",
  "kalastack_version": "3.0-beta4",
  "terminatur_version": "1.0-beta1",
  "puppet_environment": "threebetathree",
  "default_memory": "2048",
  "memory_divisor": "4",
  "box_location": {
    "32": "http://files.kalamuna.com/kalabox32.box",
    "64": "http://files.kalamuna.com/kalabox64.box"
  },
  "ip": "1.3.3.7",
  "host_ip": "1.3.3.1",
  "host_e

[2014-07-06 23:11] pi-ron commented on #12
@pirog removing the drush cache did the trick and I could download my site no worries.

Thanks.

[2014-07-07 00:14] tschet commented on #44
When I use that command, it comes back with 4.3.6r91406.

Douglas Tschetter
701.202.6191
me@douglast.com

On Jul 5, 2014, at 11:53 PM, Mike Pirog notifications@github.com wrote:

[2014-07-07 16:19] possiBri opened #46 "Unable to install on "regular" account (using admin pw)"
Ok, so I've been able to install Kalabox on my admin account, but I can't access it on my non-admin account (my "main" account), even with running Kalabox from the command-line using my admin account and sudo (it shows me the Box Me prompt upon opening, and when I put in my admin password I get the error: A keychain cannot be found to store "root.").

If I try running Kalabox on my non-admin accou

[2014-07-07 20:17] possiBri commented on #46
Scratch that, I just saw the feature request regarding the Box Me still showing up, and actually let the dashboard load instead of immediately clicking Box Me (thinking I needed to). Sorry about that!

[2014-07-07 20:38] reynoldsalec commented on #12
Sidenote: confirmed that Kalabox version beta5 and beta6 (those that lacked the node binary) definitely fail updating /etc/hosts on the host machine; error will look like this in $HOME/.kalabox/kalabox.log for anyone facing this issue:

[code]

[2014-07-07 21:52] possiBri opened #47 "Error AFTER install"
After launching Kalabox I get the following error: "There's a problem with loading your sites list. Restarting the box may resolve it."

I have tried:
—restarting the box
—restarting my computer
—uninstalling and reinstalling

Yet I continue to get this error. The error will pop up without me attempting to spin up a site or anything, as well. Also, if I do try to spin up a fresh site I get an erro

[2014-07-08 00:19] pirog commented on #47
@possiBri this error definitely showed up pretty consistently in beta5 and 6 can you 100% for sure confirm you are running the latest beta7?

If you try this on your admin account do you get these issues? You do need admin access to edit your /etc/hosts file which is essential for the box to function.

[2014-07-08 01:24] pirog commented on #46
Going to reopen this issue. I think we can get this to work differently just be letting the user specify the full creds of an admin user ie the username and password. Right now we are assuming the current user is also an admin user which might not always be true. Let's see if we can get this to work so a normal user can install and KBOX with a admin accounts creds.

Either way V2 should def work t

[2014-07-08 02:00] possiBri commented on #47
Yeah, I get the error both when logged in as admin and in the regular account and the .dmg does say beta7. =\

[2014-07-08 02:07] #45 closed, assigned to nobody

[2014-07-08 02:14] pirog commented on #44
That is definitely what it is supposed to do so that is weird.

Before you uninstalled did you originally have vagrant installed as well? Are you doing the complete uninstall which is option #2?

[2014-07-08 02:16] pirog commented on #12
@rfmarcelino any update on logging in and out? Anything weird in your kalabox log?

[2014-07-08 02:18] pirog commented on #42
i like closing issues :) glad we got this hooked up for you!

On Sun, Jul 6, 2014 at 6:45 PM, Crispin Bailey notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-08 02:18] pirog commented on #42
ACTUALLLY! going to reopen this until i can commit the code!

[2014-07-08 08:55] rfmarcelino commented on #12
I've installed it on a different mac and everything worked great from the start, so I used the uninstaller (again) and removed everything.
After a fresh install, everything is working on both machines.
Thanks @pirog

[2014-07-08 11:41] tschet commented on #44
I did the complete install (2). I did not have vagrant installed at all.
- Douglas

[2014-07-08 11:55] tschet commented on #44
I just ran it one more time and it worked perfectly. Better internet connection here, but otherwise the same. Thanks for the help!
- Douglas

[2014-07-08 15:40] burnsjeremy opened #48 "Seems to be getting stuck at VB upgrade"
I have tried this a few different times but figured that this could help with your error reporting:
### Kalabox Log

2014-07-08T15:16:27.822Z - info: Box initialized.
2014-07-08T15:16:27.823Z - info: Kalabox Version: 1.0-beta6
2014-07-08T15:16:27.823Z - info: Mac OS Version: 10.9.4

2014-07-08T15:16:27.823Z - info: VirtualBox Version: 4.2.12r84980

2014-07-08T15:16:27.823Z - info: Vagrant Version:

[2014-07-08 23:42] cspin commented on #42
Yup! Makes sense, I had the same thought after closing it. :)

[2014-07-08 23:54] cspin commented on #12
I had a similar issue after getting Kalabox (beta7) up and running and connecting to Pantheon. Couldn't download my test site. It would just time out and show the same download modal like nothing happened. Then I noticed that the option to select a backup db was just hanging without showing my list of db's, so I came here looking for a clue. The solution was Mike's earlier suggestion: "SSH into yo

[2014-07-09 22:17] pirog commented on #42
there we go!

[2014-07-09 22:17] #42 closed, assigned to nobody

[2014-07-09 22:19] pirog commented on #48
Are you prompted for a password in a pop up at all?

[2014-07-09 22:20] pirog commented on #44
Sometimes on poor connections the box downloader can fail but it usually reports that. Glad it worked on teh second try!

[2014-07-09 22:20] #44 closed, assigned to nobody

[2014-07-09 22:26] pirog commented on #12
Great to know. I think this issue will only impact people who were pre-beta7 but these resolution seems pretty easy so that is good.

[2014-07-09 22:32] pirog commented on #47
hmmmm. When you restart the box are you closing the app or are you actually pressing the stop/start buttons?

[2014-07-09 22:39] possiBri commented on #47
I've tried both ways, as well as completely restarting the computer to make sure the app was fully shutdown. I double-checked just now, and also tried stopping the server, quitting the app, then restarting the app and restarting the server, and the error persists =[ (this is all on the admin account to help rule out any weird permissions things that might have affected it).

[2014-07-09 22:50] pirog commented on #47
Can you paste in the kalabox error log at ~/.kalabox/kalabox.log?

[2014-07-09 22:58] possiBri commented on #47
### Kalabox Log

2014-07-07T21:31:54.816Z - info: Box initialized.
2014-07-07T21:31:54.817Z - info: Kalabox Version: 1.0-beta6
2014-07-07T21:31:54.818Z - info: Mac OS Version: 10.9.4

2014-07-07T21:31:54.818Z - info: VirtualBox Version: false
2014-07-07T21:31:54.818Z - info: Vagrant Version: false
2014-07-07T21:31:58.330Z - info: VirtualBox not installed or wrong version. Installing.
2014-07-07T21

[2014-07-09 23:31] pirog commented on #47
That is very helpful. Could you also paste in teh contents of your /etc/hosts file? You can get this by running "cat /etc/hosts" on the command line.

[2014-07-10 00:14] pirog opened #50 "Strip out V1"
We need to strip down V1 to the parts we are going to keep. Areas to investigate right away:
1. remove vagrant stuff.
2. investigate maturity of boot2docker utilities and how they can be used to install dependencies.

[2014-07-10 00:17] pirog opened #51 "Design new user interface for V2"
We should have a new user interface and updated iconography/grfx for V2. Some high level goals that should be part of the design
1. No more "status" or "dash". The focus should be on sites.
2. We need to have "advanced" options hidden by default. This will ensure the UI remains clean and easy to use.
3. We need better UX around listing sites and running site operations.

@madeofpeople let's talk o

[2014-07-10 00:22] pirog opened #52 "CI"
We will want to implement and document a better system for developing on Kalabox and building new releases, dev snapshots etc. Likely some jenkins magix here.
1. Build new releases for all three versions on tag
2. Build nightly/weekly dev builds for backers
3. How do develop and contribute guides
4. How will testing happen?

[2014-07-10 00:27] pirog opened #53 "Swap installer to install docker dependencies"
We want this to be the most cross platform as possible. Boot2docker will get us most of the way. Install will look something like this
1. Check for VB, install if min version not met
2. Install boot2docker tools, use our config, spin up docker VM
3. instantiate docker shell

We will need to figure out a cross platform way to get and store user creds. Should try to do #46 here if possible.

[2014-07-10 00:28] pirog commented on #41
@kellybell im going to move and milestone this for V2

[2014-07-10 00:29] pirog commented on #40
@kellybell i'm going to move this to V2 and milestone for alpha1 release.

[2014-07-10 00:30] pirog commented on #6
@reynoldsalec i'm going to move this over to V2 but it would still be valuable for V1 i think.

[2014-07-10 00:31] pirog commented on #10
@ModulesUnraveled did you ever get anywhere on this? Is it something that we should try to target for a more mature V2 release or do you think it would be better as some sort of doc/add on?

[2014-07-10 00:32] pirog commented on #14
@reynoldsalec im going to move this over to V2 as well but we should resolve and backport to V1

[2014-07-10 00:33] pirog commented on #24
this is now covered by #52 not sure if we want to backport to V1 at some point

[2014-07-10 00:33] #24 closed, assigned to nobody

[2014-07-10 00:35] pirog commented on #26
I've got a vague but likely comprehensive task that should probably include this in #52 but will likely need your expertise when i start to implement!

[2014-07-10 00:35] pirog opened #54 "Determine V2 start state... V1 or something else?"
We need to figure out whether to use V1 as our starting point for V2 or start with something else like  https://github.com/Anonyfox/node-webkit-hipster-seed and then forward port relevant node modules from V1 to V2.

[2014-07-10 00:36] pirog opened #55 "Swap terminatur commands for switchboards"

[2014-07-10 00:38] pirog opened #56 "Figure out how to handle /etc/hosts"
Node has a good cross platform module for handling this but it requires the node binary. We are using node-webkit and just packaging in the node binary for this one thing. It's pretty jank and we should find a better solution.

[2014-07-10 00:41] pirog opened #57 "Docker container spin up and plugin system"
Before you spin up a new or cloud site your environment needs to be created. We need to build out how this happens.

We want an "official" location to contain some JSON plugins that ship with the box, but also scan a home folder for plugins as well.

For now let's just do one for kalastack-docker

[2014-07-10 00:44] pirog opened #58 "New site plugins"
we want to have plugins for spinning up new sites. these plugins will define underlying sysadmin reqs (expressed as a kalabox docker plugin) but also contain relevant metadata for building the new site. This will be pretty easy for D6/D7 sites and distros but we will also want to include D8/WP/Backdrop at some point.

[2014-07-10 00:45] pirog opened #59 "Spin up D8 site."
We will need a D8 ready container and process for spinning up a D8 site.

[2014-07-10 00:46] pirog opened #60 "Spin up backdrop site."
D7 container should work for BD as well but we want to have some instructions for installing.

[2014-07-10 00:47] pirog opened #61 "Spin up WordPress sites"
???????

[2014-07-10 00:47] pirog opened #62 "Spin up blank PHP sites."

[2014-07-10 00:48] pirog opened #63 "Redesign auth page to handle multiple providers"
People need to login to multiple providers.

[2014-07-10 00:49] pirog opened #64 "Integrate "push" operations"
Users will need to be able to push up code and import sites to providers.

[2014-07-10 00:50] possiBri commented on #47
##

# Host Database

#

# localhost is used to configure the loopback interface

# when the system is booting.  Do not change this entry.

##
127.0.0.1   localhost
255.255.255.255 broadcasthost
::1             localhost
fe80::1%lo0 localhost
1.3.3.7  kala.5508728348c78df7c018ac521bab892f.box  # VAGRANT: 15845331eb1d984b0932cdda6a43c561 (default) / 9ea7b8cc-ecf9-42b1-bea2-3e8112aeb55e
1.3.3.7  kala

[2014-07-10 00:50] pirog opened #65 "SSH key handling"
This will be handled on the node side now. Probably will forward keys into the container for stuff but the handling may be more complicated depending on the provider requirements.

[2014-07-10 00:52] reynoldsalec opened #66 "Spin up Laravel Sites"
The Rails of PHP. Could be a good move for Kalabox to be in with the "it" crowd.

Composer would be necessary (assuming that's in 2.x?).

Laravel has a virtual environment: http://laravel.com/docs/homestead, but I think Kalabox could be a much friendlier way of allowing people to startup with Laravel.

[2014-07-10 00:53] pirog commented on #47
ok. that all looks good.

start the box and try to go to "http://start.kala" in your favorite browser
and see what happens.

On Wed, Jul 9, 2014 at 5:50 PM, possiBri notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-10 00:54] pirog commented on #66
anything that can make up for our sins of working with drupal is a +1 for me. @reynoldsalec

[2014-07-10 01:07] possiBri commented on #47
Ok, cool. I get the Welcome to nginx message!

[2014-07-10 01:16] pirog commented on #47
ok so that makes a lot of sense and explains some stuff. It sounds like
your installation wasn't completely successfully. i still think this is
probably related to you bouncing betwen admin user and non-admin user. have
you completely uninstall everything as an admin user and then reinstalled
as an admin user and tried to run commands as an admin user?

On Wed, Jul 9, 2014 at 6:07 PM, possiBri not

[2014-07-10 01:31] possiBri commented on #47
I have tried uninstalling (option 2) and reinstalling, all on admin... but I can definitely give it another shot. I'm wondering if there is something weird going on because I can't run the uninstall tool from the non-admin side (due to it thinking current user has admin rights) to make sure the failed install from before is completely removed, so maybe there are remnants from that which are muckin

[2014-07-10 01:34] pirog commented on #47
yeah the uninstall tool def needs admin permissions so it might not be
clearing everything out. if you have the box on and running the uninstall
tool can produce weird errors as well.

On Wed, Jul 9, 2014 at 6:31 PM, possiBri notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-10 01:39] reynoldsalec commented on #5
Dropping the 1.x; it's not worth the effort to make the legacy Kalabox compatible with Linux.

[2014-07-10 03:07] ModulesUnraveled commented on #10
Sorry for not getting back. I have had no luck with this. My current workflow is "make a CSS change, switch to terminal, hit enter (so that compass etc. run) switch to browser and refresh the page. It's pretty annoying, especially when I forget to hit enter in the terminal.

I can record a quick screencast showing you tomorrow.

What details would you need to debug?

[2014-07-10 04:34] possiBri commented on #47
Ok, I think you sent some magic vibes or something... 'cause after I uninstalled again, full wipe of the app, and then reinstalled and BOOM it worked! Thanks for sticking with me!

[2014-07-10 04:48] thiagodemellobueno commented on #51
Superinterested and happy to be tapped, lets talk tomorrow on it.

[2014-07-10 06:45] pirog commented on #51
Perfect!

[2014-07-10 06:54] pirog commented on #47
Always sending magic vibes! So everything is working as expected now?

On Wednesday, July 9, 2014, possiBri notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-10 16:55] possiBri commented on #47
Yep, I've got a site spun up and just connected to the db through Sequel Pro! Thanks again! When do you think v2.0 will be available, and will the upgrade from 1.x to 2.0 be easy?

[2014-07-10 18:55] pirog opened #67 "Create stats dash"

[2014-07-13 16:37] teampoop opened #68 "Virtualbox 4.3.12?"
I seem to be hanging out at the boot this box splash screen with no progress bar, or messaging or offers of a group hug. I checked the ~/.kalabox/kalabox.log and found this:

`2014-07-13T16:28:58.842Z - info: Kalabox Version: 1.0-beta6
2014-07-13T16:28:58.842Z - info: Mac OS Version: 10.9.3

2014-07-13T16:28:58.842Z - info: VirtualBox Version: 4.3.12r93733

2014-07-13T16:28:58.842Z - info: Vagrant

[2014-07-14 06:06] dsbrianwebster opened #69 "Git Connection problems"
Pretty sure this started happening after beta7 --
When we try to git pull or push for example we keep getting...

Permission denied (password,publickey).
fatal: The remote end hung up unexpectedly

![screen shot 2014-07-13 at 10 59 40 pm](https://cloud.githubusercontent.com/assets/8154653/3567492/0f766a30-0b1c-11e4-8e05-35720c726dbc.png)

This issue reports a "similar" problem, but pertaining to c

[2014-07-14 16:42] reynoldsalec commented on #69
Hmm, don't know about the error when ssh-ing in, but if you run "ssh-add ~/.ssh/terminatur.id_rsa" you should be able to use all your git commands as normal.

[2014-07-14 16:57] dsbrianwebster commented on #69
![screen shot 2014-07-14 at 9 57 46 am](https://cloud.githubusercontent.com/assets/8154653/3573949/fe275eea-0b77-11e4-84cc-749bfbce5131.png)

[2014-07-14 17:16] laurencefass opened #70 "kalabox on linux"
i just watched recent kalabox promotion vid says that kb is working on linux. i cant find any decent installation guides on the web... if anyone can link me to one would be much appreciated... debian environments preferred... thanks.

[2014-07-14 18:08] reynoldsalec commented on #69
@dsbrianwebster try running this:

eval "$(ssh-agent)"

[2014-07-14 18:23] pirog commented on #70
Hmmm i'm not sure that is true.. which video is this? That said think V1 COULD be adapted to work on Debian without a ton of struggle. See https://github.com/kalamuna/kalabox/issues/5 for more info. There is def no "supported" way to do this on V1 as of yet although https://github.com/kalamuna/kalastack gets you pretty far if you are CLI-friendly.

We are hoping for relatively parallel V2 releases

[2014-07-14 20:11] dsbrianwebster commented on #69
ran it from the box...
   Agent pid 15412

[2014-07-14 22:00] pirog commented on #69
can you git pull after running eval "$(ssh-agent)"?

re: the ssh warning, we switched the logic here to use the normal mac "open ssh://" handler so this is actually expected behavior. This will now launch your default ssh handler instead of just Terminal so iTerm2 users can now benefit as well.

[2014-07-14 22:02] pirog commented on #68
Are you getting a password prompt when you try to install?

Currently V1 does not support vagrant 1.5+ so this could explain the failure here as well. If you want to try kalabox v1 and can sacrifice not having the most recent vagrant we recommend running the uninstall.tool packaged with the DMG and choosing option #2. THIS WILL UNINSTALL EVERYTHING SO BE CAREFUL!

[2014-07-14 22:42] pirog commented on #47
So this is the tentative milestone schedule for V2
https://github.com/kalamuna/kalabox/issues/milestones

The tentative upgrade path will likely be to export all your sites to pantheon/acquia/other, uninstall V1, install V2 and then re-import them. We may develop some sort of import mode from V1 to V2 but it seems to make more sense to just use pantheon, etc at this point.

[2014-07-14 22:42] #47 closed, assigned to nobody

[2014-07-14 22:48] pirog commented on #10
Yeah could you record a quick screencast? That would be awesome!

[2014-07-14 23:06] dsbrianwebster commented on #69
Thanks for the help. Good to know re the ssh warning.

still getting the same error...
Permission denied (password,publickey).
fatal: The remote end hung up unexpectedly

after trying to pull after  eval "$(ssh-agent)"?

[2014-07-14 23:07] pirog commented on #69
I would try clearing out the drush cache when after you ssh in with "rm -rf
~/.drush/cache" and then restarting kalabox.

On Mon, Jul 14, 2014 at 4:06 PM, dsbrianwebster notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-15 00:25] dsbrianwebster commented on #69
Cleared drush cache via --
rm -rf ~/.drush/cache

Restarted box

Same error on git pull

running eval "$(ssh-agent)" returned different results this time (below)...

![screen shot 2014-07-14 at 5 23 05 pm](https://cloud.githubusercontent.com/assets/8154653/3579063/419d296e-0bb6-11e4-92f5-7d80d9c18631.png)

[2014-07-15 00:31] pirog commented on #69
Does this happen on all your sites or just sites you built pre-Beta7?

On Mon, Jul 14, 2014 at 5:25 PM, dsbrianwebster notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-15 00:40] dsbrianwebster commented on #69
I believe it was happening on all my sites before I did the wipe and started fresh. The only sites I have now are the ones I fetched from kalabox after Beta-7 and yes, I can't git push/pull in any of them.

[2014-07-15 01:02] dsbrianwebster commented on #69
just downloaded another panth site to see if maybe any of the stuff we tried had an effect on a new site. Site still downloaded successfully, but I also still get the same git errors after I ssh in.

[2014-07-15 01:36] dsbrianwebster commented on #69
Ran the uninstall tool, chose option 1, then installed --
https://github.com/kalamuna/kalabox/tree/1.0-beta6

ssh'd in, ran git pull and SUCCESS.

Def seems to be a prob w/Beta 7

Sorry I couldn't stay on Beta7 longer and keep testing, needed my workflow back.

I'll keep this open in case I can help further.

[2014-07-15 02:23] pirog commented on #69
Very strange. Almost everyone is reporting the exact opposite ie beta6 problems beta7 successes. :/ Glad it worked for you to revert but should def try to figure out the issue.

What is the most strange is that you pull your pantheon site via git as well so if it works there a normal git pull from CLI should also work.

If you had a previous version maybe you were never prompted to download update

[2014-07-15 17:14] ultimike opened #71 "VirtualBox update?"
I was about to install Kalabox and I noticed that wants to download a newer version of VirtualBox than what I currently have on my system.

I currently use VirtualBox 4.1.20 to boot into Windows 7. I can't have this go sideways because I run our business using QuickBooks in the Windows 7 environment.

If I update VirtualBox (or let Kalabox update it) will my existing virtual machines still work wi

[2014-07-15 17:36] reynoldsalec commented on #71
Hey @ultimike, my guess would be that everything should be fine, I haven't seen an upgrade to VirtualBox cause problems with any of my existing virtual environments. That said, I would highly recommend exporting your Windows 7 virtual environment so you have a backup in case you need to go back to the older VirtualBox environment and re-import it. Never hurts being careful.

[2014-07-15 18:54] pirog commented on #71
@ultimike, pretty sure it is fine as well but you should 100% export your VB appliances first to be sure!

[2014-07-15 19:41] pirog commented on #51
@madeofpeople so to get this party started lets ruminate and then maybe you can throw up some lo-fi sketches for discussion.

I'm going to work on some other issues/wikis that help define the project better so those can help provide guidance as well!

[2014-07-15 21:46] ModulesUnraveled commented on #10
Here's the screencast showing what happens for me. Sorry for the low quality, I had to use my built-in mic, and it's a bit loud... http://screencast.com/t/5L8EpBu4GYr

[2014-07-15 22:11] pirog opened #72 "Project scaffolding"
1. put together high level goals
2. architecture.
3. dev starter kits for OSX/MAC/WIN
4. contribution documentation
5. new readme

[2014-07-16 17:57] chrowe opened #73 "Improve admin password dialog"
Based on https://github.com/kalamuna/kalabox/wiki/Troubleshooting-Kalabox-Problems#what-i-had-to-enter-my-password I see that this is an issue for people.

When I read it, I thought it was asking me to create a new admin password for Kalabox.

It sounds like, in fact you want people to enter the password for the current mac user and assume that they are an admin.

If so, I suggest the text read so

[2014-07-16 18:08] chrowe opened #74 "Installation hangs on wrong VB version"
Following instructions at https://github.com/kalamuna/kalabox/wiki/Getting-Started-With-Kalabox
1. Downloaded kalabox-1.0-beta7.dmg
2. Double click the installer
3. Clicked "Box me"
4. Don't remember a terms of service page
5. Entered my password (Luckily I think it was the right one #73 )
6. Then I see this and no further progress
   ![kalabox-hang](https://cloud.githubusercontent.com/assets/2401

[2014-07-16 21:43] pirog commented on #10
Great! Just watched this. Very helpful. I'm not quite sure WHY this is
happening yet but i can take steps to replicate it now so i can at least
play around with it.

On Tue, Jul 15, 2014 at 2:46 PM, ModulesUnraveled notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-17 02:33] pirog commented on #74
Removed the TOS since we are MIT license aka open source now.

Did you move the app from the DMG into your applications folder? What's the over/under on whether you entered the correct admin password?

We currently do not support vagrant 1.5+ and probably won't for V1 although there is an open issue for it. Did you try uninstalling with the uninstall.tool option 2 and then reinstalling?

[2014-07-17 02:36] pirog commented on #73
Yes! Agreed with all of these things and we are definitely going to implement these improvements for V2. In the meantime if you want to submit a PR for the text change i'll gladly roll that in since we can do that easy!

[2014-07-17 04:11] chrowe commented on #74
I missed the move to Applications folder step. I tried to [Clarify](https://github.com/kalamuna/kalabox/wiki/Getting-Started-With-Kalabox/_compare/08ed44176ea401f1e34012553fae80c0c1301fbc...f6b850387ff31d5e96b5e7b4c1209d3431922615)  that in the docs.

So Vagrant 1.2.2 through 1.4.3 are supported?
What about VirtualBox? Is it only 4.2.8 or 4.2.8+

[2014-07-17 04:58] chrowe commented on #74
After moving to the Applications folder and installing the correct versions of VirtualBox and Vagrant I still get the same problem.

I have even tried with
- VirtualBox Version: 4.2.8r83876
- Vagrant 1.4.3
- Vagrant version 1.2.2

[2014-07-17 05:10] pirog commented on #74
Run the uninstall.tool that comes with the dmg. Choose option #2 and then
try the installer. I would export any vb boxes you have first just in case.

On Wednesday, July 16, 2014, Chris Rowe notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-17 05:43] possiBri opened #76 "Delete site issue and upon reinstall, unable to create site"
Hi again,

I tried deleting a site through the GUI, but it continued to show in the sites list. I found that the site folder was still in the www directory, so I deleted it and that removed the site from the list in the GUI. However, I was then unable to spin up a new site — the process would just hang. I thought I might've caused the problem, so I decided to uninstall and reinstall.

I had to do

[2014-07-17 14:25] chrowe commented on #74
That worked. Thanks

[2014-07-17 14:25] #74 closed, assigned to nobody

[2014-07-17 14:29] possiBri commented on #76
**Update:** Still getting the same error about not being able to load the sites list when starting up the servers. Also, just a reminder, it says beta6 but it was the beta7 .dmg that I originally downloaded.

Here is my fresh kala.log:

### Kalabox Log

2014-07-17T05:51:16.686Z - info: Box initialized.
2014-07-17T05:51:16.688Z - info: Kalabox Version: 1.0-beta6
2014-07-17T05:51:16.689Z - info: Mac

[2014-07-17 18:06] pirog commented on #76
I've noticed this happening with a few other people and sometimes if you are on a slower machine it seems like the box will try to grab your sites list before it is actually 100% started. In this case i just had to wait like 30 seconds until the box was all the way on and then it would grab my list.

A good way to verify this is to type in "aliases.kala" in your browser. When this appears in the b

[2014-07-17 18:37] possiBri commented on #76
Hmmm I wouldn't have guessed my machine was particularly slow, since it is a brand new MBP with 2.4gz i5 proc and 16gb RAM. But, I tried waiting a minute or so and **was** able to create a new site, so I guess that was the problem.

As far as the uninstalling of a site, what is the proper method? Should uninstalling the site remove it from the site list AND delete the folder in /www? Thanks!

[2014-07-17 18:43] thiagodemellobueno commented on #51
@pirog here's a high level flow of adding a site, and deploying a site... so we can identify screens, and deeper flows. Asterisks imply where bubbles represent further flows that we may want to elaborate on.

![add-site-deployment-flow](https://cloud.githubusercontent.com/assets/79221/3617826/ff3a473a-0de2-11e4-9118-2173fbafb6ee.jpg)

[2014-07-17 20:57] mark-casias commented on #68
Is there an issue open to support later versions of vagrant? I work with a lot of client boxes and feel using an older version would bork them.

[2014-07-17 21:24] thiagodemellobueno commented on #10
@ModulesUnraveled not sure how helpful this will be, but have you tried running your drush ogrd etc from your local filesystem, rather than from inside the box? It's worth a try, if only to rule out some possibilities.

[2014-07-17 22:01] pirog commented on #68
Yes there is. I'm not sure how much movement there will be on it. It would be great to get it upgraded to work up to 1.6.3 but all efforts are on V2 which will bypass vagrant and thus not even have any of these issues :)

Here is the issue for ref:
https://github.com/kalamuna/kalabox/issues/28

[2014-07-17 22:02] pirog commented on #51
This is great! Let me gather feedback and then i'll be back!

[2014-07-17 22:04] pirog commented on #76
Sorry, slower meaning maybe you have mem locked up doing other stuff not the raw chops of your machine ;)

Right now "removing" a site should just delete the DB, vhost and all of that from the box, and remove the site from the list of downloaded sites. The code usually stays in www but we can remove that too if you think that would be helpful.

[2014-07-17 22:07] dsacks opened #77 "complex drupal commerce site from Pantheon errors on most web requests"
I have a complex drupal commerce site on Pantheon that I brought down with Kalabox (!) however it almost always gives this error when you try to do anything with it (see below).

I just downloaded Kalabox and installed yesterday. My site on Pantheon is based on Panapoly and Drupal Commerce. I tried creating a new site in Kalabox and importing the backed-up database, code and files, but I get the s

[2014-07-17 22:16] pirog commented on #77
Doesn't appear to be resource based. Generally this type of thing happens when you are trying to load an entity that doesn't actually exist anymore. I'm not sure if that helps narrow things down at all.

Does your development site work correctly on pantheon?

[2014-07-17 22:19] dsacks commented on #77
Yes, it does work correctly on Pantheon. I am refreshing it to see if that makes any difference.

[2014-07-17 22:22] pirog commented on #77
_usually_ these kinds of errors can show up if you have corrupted data in your DB but if that's true it would mess up on pantheon also. You could always try importing your LIVE database directly into kalabox and see if that makes a difference.

I assume you are doing all the normally cache clearing things on Kalabox? although im not sure that should matter for this.

[2014-07-17 22:22] pirog commented on #74
Great!

On Thu, Jul 17, 2014 at 7:25 AM, Chris Rowe notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-17 22:34] dsacks commented on #77
The error will come up, then I'll hit the browser 'reload' button and it will bring the site up correctly, then I'll click on a link and get the error, hit 'reload'...

When I tried to clear cache, I got this:

( ! ) Warning: include_once() [function.include-once]: Unable to allocate memory for pool. in /var/www/aop/includes/theme.inc on line 565
Call Stack

# Time    Memory  Function    Location

[2014-07-17 22:36] pirog commented on #77
ok well that is DEF a mem issue. usually you can clear out those pool
errors by going into your box and just restarting php-fpm.

SSH in with the ssh button and run "sudo service php5-fpm restart" that
should clear the pool errors.

Do you have some basic metrics for the size of your site? like size of
code, data files?

On Thu, Jul 17, 2014 at 3:34 PM, dsacks notifications@github.com wrote:

##

[2014-07-17 22:46] possiBri commented on #76
Ah, gotcha!

I actually think it's good that it doesn't delete the code (for safety's sake), but when I deleted a site it didn't remove the site from the list in the GUI. I've finally got everything up and running, so I'm not going to mess with it for now, but just an FYI. =]

[2014-07-17 22:51] dsacks commented on #77
code/files are 484 MB
database sql script is 105.1MB

[2014-07-17 22:55] dsacks commented on #77
I tried pulling the database from live and putting it in Kalabox. Same problem with the Fatal error: Class name ...

[2014-07-17 23:19] ModulesUnraveled commented on #10
That sounds like a good idea, but when I try, it gives the "cannot bootstrap Drupal" message. I was having issues with Drush locally before I started using Kalabox though, so I don't know if it's a relevant error. I was going to re-install my OS this week. After that I'll let you know if it's still an issue.

However, I'm not sure that the local Drush would know how to connect to the database in t

[2014-07-18 03:16] andrewmallis commented on #10
local drush won't connect to the DB, but you can still run some commands like 'drush dl'

We use grunt here to watch and compile scss changes into css. I tried a basic compass/livereload piece before and it did not do the live part either.

The problem here is that that the VM cannot detect the changes on the host system. Livereload communicates over the network, and you will need to open up a por

[2014-07-18 18:31] pirog commented on #10
@andrewmallis this is awesome! thanks so much for pinch hitting here as this sort of stuff is def not my area of expertise.

@ModulesUnraveled does opening up that port seem to help? If so we could easily add that forwarding directive to the vagrant file for V1 and also make sure it is exposed in V2 as well!

[2014-07-18 18:33] pirog commented on #77
Hmmm yeah that is a pretty modest size site for kalabox...

@reynoldsalec do you have any potential insight here? It screams "code error" to me, ie not really a kalabox issue, but it works on pantheon so... ?

[2014-07-18 18:34] pirog commented on #76
That was our thinking too.

I know that sometimes there are strange permissions errors that prevent a site from being deleted completed. A good way to debug this is to SSH into the box and run

drush crush SITENAME.dev --debug --verbose and see where it gets hung up.

[2014-07-18 18:42] possiBri commented on #76
Ok great, I will definitely try that if it happens again! Thanks for all your help =]

[2014-07-18 18:45] pirog commented on #76
Sure thing! let us know how else we can help!

On Fri, Jul 18, 2014 at 11:42 AM, possiBri notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-18 18:57] reynoldsalec commented on #77
Yeah @pirog, I suspect you are correct that there is some code issue, it's possible that this might be due to some slight configuration difference between Pantheon and Kalabox.

@dsacks, you could  try a couple of the things indicated on this post: https://www.drupal.org/node/1667536
- running update.php and clearing cache
- making sure you don't have any custom code in a PHP field in Views (or po

[2014-07-18 19:23] dsacks commented on #77
I think we are using both Redis and Solr. For sure Solr.

[2014-07-18 20:57] andrewmallis commented on #77
Sounds like a problem with the DB to me. I would also suggest manually exporting from Pantheon and importing manually.

I use Sequel Pro. Easy:
https://kalamuna.atlassian.net/wiki/display/KALA/connecting+to+remote+MySQL+servers

[2014-07-18 21:35] reynoldsalec commented on #77
@dsacks to find out, try disabling the redis module and search_api.

The "Fatal error: Class name ..." error you posted originally that seems to be the thing sticking looks like a problem that happens in building the menu routing for search_api; this could either be because your site is looking for a cache_menu entry in redis that isn't there (since you don't have redis) or potentially missing som

[2014-07-18 22:07] kjwaddel opened #78 "Make sure terminatur_keys() exists by checking for correct terminatur version before calling it"
Hi, have been having issues with Kalabox not being able to connect to the internet.  I found this issue: https://github.com/kalamuna/kalabox/issues/47 and was in the process of uninstalling and reinstalling on the admin account but I got an error (that is too long to paste in here).  I tried uninstalling and reinstalling one more time before posting this and got the same result.

Here is the begin

[2014-07-19 18:58] ModulesUnraveled opened #80 "Change Password Timeout Length"
Hey, I just re-installed Mavericks on my MacBook Air. When I installed Kalabox beta 7, I got this error, and it said to post it here... so I am.
### Kalabox Log

2014-07-19T18:52:16.873Z - info: Box initialized.
2014-07-19T18:52:16.874Z - info: Kalabox Version: 1.0-beta6
2014-07-19T18:52:16.874Z - info: Mac OS Version: 10.9.4

2014-07-19T18:52:16.875Z - info: VirtualBox Version: false
2014-07-19T1

[2014-07-19 19:00] ModulesUnraveled commented on #80
Just tried again and it worked fine. Looks like I didn't enter my password in time.

[2014-07-19 19:58] pirog commented on #80
Sounds good!

@reynoldsalec may want to fix this so it doesnt time out or at least doesn't produce an error when it does?

[2014-07-19 21:04] pirog commented on #78
Do you have the exact error that you are getting when it cant connect? I would def try to pate the whole log in here if you can!

[2014-07-19 21:45] pirog commented on #51
Ok i think this def has all the logic we need for a good V2 first build. The thing that i am most interested in at this point is how we can express these flows in the the fewest user actions as possible.

For example, and maybe this is just me not understanding how this flowchart translates to a design, i dont know if we need to explicitly ask the user if they want to create a new site or pull a s

[2014-07-19 23:14] pirog commented on #46
We are probably going to want to write a node module that wraps around oascript/vbscript/zenity (or better things) to provide GUI password prompting.

Optionally we will want this input to be stored using the respective keychain programs for each OS.

[2014-07-20 01:00] ModulesUnraveled commented on #10
@andrewmallis That looks like it's probably exactly what I'm looking for. However, since I've not ever used Vagrant, I'm not sure where the file is that I need to edit.

[2014-07-20 01:29] ModulesUnraveled commented on #10
Okay, sorry for being obnoxious. I found the Vagrantfile on when I ssh'ed in through Kalabox. Now I'm just not sure what ip address to substitute as per their instructions. I didn't see one mentioned in the Vagrantfile.

[2014-07-20 22:14] andrewmallis commented on #10
The vagrant file is located at
~/.kalabox/kalastack/Vagrantfile
on your host system; you should not need to ssh in.

there is no mention of an IP in that file, because we store it in
~/.kalabox/kalastack/config.json
which allows the user to change some settings that will be preserved after upgrading kalabox/stack versions.

Try adding this line
`config.vm.network :forwarded_port, guest: 35729, hos

[2014-07-20 22:16] reynoldsalec commented on #80
@pirog, good call, changed title of issue to reflect that.

[2014-07-20 23:37] #73 closed, assigned to nobody

[2014-07-21 02:05] ModulesUnraveled commented on #10
Okay, that gets us half way there. It does make live-reload work, but still doesn't pickup the changes when I save the .scss file. I still have to switch to the terminal and hit "enter".

It DOES live reload the page though! So that's something. :)

Here's a screencast showing the modified Vagrantfile and what happens when I try everything.
http://screencast.com/t/YRrcJO6U

(Sorry for the lack of

[2014-07-21 03:09] andrewmallis commented on #10
Some of the settings on the omega side could be off:
https://www.drupal.org/node/2108005

You need to run guard when ssh'd over the port and just let that run.

Any other action should happen in another session, and you can SSH normally in there.

Perhaps the host machine does not contain the ruby and other dependencies that compile the sass into css. Try https://www.drupal.org/node/1744592#commen

[2014-07-21 15:44] kjwaddel commented on #78
I put it in a gist: https://gist.github.com/kjwaddel/f9f928ca8d07c5693f38

[2014-07-21 18:52] steveoliver commented on #48
I experienced the same thing.  Just sits here, prompted me for nothing.
![screen shot 2014-07-09 at 8 04 30 am](https://cloud.githubusercontent.com/assets/145663/3648320/0af7ada6-1108-11e4-91c6-0fce363603a1.png)

I saw the same messages in the logs as @burnsjeremy, and then proceeded to remove both virtualbox and vagrant from my local machine before trying again ... which worked:
![screen shot 201

[2014-07-21 19:30] pirog commented on #48
@burnsjeremy does uninstalling and then reinstalling alleviate the issue?

[2014-07-21 19:46] reynoldsalec commented on #48
@pirog

This looks like the issue solved by #79; we need to roll a new version of the box to make sure people downloading it for the first time don't encounter it.

[2014-07-21 19:48] pirog commented on #48
@reynoldsalec great call! Should def roll a new release.

[2014-07-21 19:54] pirog commented on #78
Ok interesting. There are a couple possible things here.
1. Are you logged in as an admin user on your mac? do you have a password for that user? Are you being prompted for it and are you entering it correctly?
2. Are you behind a firewall or do you have your mac firewall turned on?

[2014-07-21 20:20] #70 closed, assigned to nobody

[2014-07-21 20:34] pirog commented on #68
@teampoop i think this issue is now resolved with https://github.com/kalamuna/kalabox/issues/74 should be in the next release

[2014-07-21 20:34] #68 closed, assigned to nobody

[2014-07-21 20:34] thiagodemellobueno commented on #51
This translates to design in the following ways.
1. It offloads whats in your head
2. It provides a reference point to collaborators talking about the same thing, but not their mental models.
3. It identifies easily overlooked, but non-edge-casey nooks and crannies.

The next step is to start defining each flow on a per-screen / per-field level  while achieving the purpose of the action.  For exam

[2014-07-21 20:36] #4 closed, assigned to nobody

[2014-07-21 20:42] pirog commented on #10
@ModulesUnraveled @andrewmallis @reynoldsalec it would be great to find out the requirements here both on the Vagrantfile side but also on the server side. Once we do we can easily roll them in!

[2014-07-21 23:56] kjwaddel commented on #78
Ah, I don't use that account very often so I forgot to turn off the firewall.  The account is an admin, I have the pw but I'm not being prompted for it.

I'll turn the firewall off and see if that changes anything.

[2014-07-22 00:00] pirog commented on #78
Sounds good! I think that can def mess things up.

If you aren't being prompted for the password you can always open up
keychain and see if there is an entry for "kalabox" in there with the
correct password.

On Mon, Jul 21, 2014 at 7:56 PM, kjwaddel notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-22 05:04] mikemilano commented on #54
Any considerations for AngularJS? Not a client/server architecture, but actually accessing node libraries directly in Angular. I haven't done much with node-webkit, but I setup simple repo to test it out with angularjs here: https://github.com/mikemilano/nw-ng

[2014-07-22 09:22] laurencefass commented on #70
thanks ill keep an eye on developments...

[2014-07-22 20:57] chrowe opened #81 "Unknown configuration section 'hostsupdater'"
OSX 10.9.4
Kalabox Version: 1.0-beta7
1. Installed and was working.
2. After running for a few days it showed an error in the GUI. I closed if before noting the error. ([This error from the log](https://gist.github.com/chrowe/9de4b45bab99ab0734da) may correspond but not sure)
3. GUI starts up fine but when I click the "Start" button I get

Log shows

[2014-07-22 21:59] reynoldsalec commented on #81
This happened to me too the other day, somehow I accidentally uninstalled the hostsupdater vagrant plugin. To get things going again if you "cd ~/.kalabox/kalastack" and run "vagrant plugin install vagrant-hostsupdater" it should fix things up.

I think it's possible that this happened to me because when Kalabox came up, I accidentally hit "Box Me" (since it flashed the install screen for a second

[2014-07-23 00:15] gremy commented on #15
I guess that my problem with the latest virtualbox is solved by.
https://github.com/gremy/kalabox/commit/c2bc580c3c39c591887b975236ecc4fa0a17af65#comments

[2014-07-23 00:15] #15 closed, assigned to nobody

[2014-07-23 02:37] chrowe commented on #81
That fixed my issue. Thanks

It was running when I first got the error. I do notice the "Box Me" screen flashes but don't think I ever touched it.

[2014-07-23 02:37] #81 closed, assigned to nobody

[2014-07-23 23:01] steveoliver commented on #69
I received a similar message (from bitbucket) when I attempted `git push` from OSX for the first time since setting up Kalabox:

The solution for OSX, just as it is within kalabox, was to run `ssh-add ~/.ssh/id_rsa`.

[2014-07-24 05:51] mikemilano commented on #53
https://github.com/mikemilano/kalabox/compare/docker_install?expand=1

There's no 2x branch yet, but I wanted to get some feedback before i did a PR anyway.
- Vagrant removed from installer
- boot2docker check/installer
- kalastack-docker check/installer
- boot2docker image check/installer
- power on vm

Notes:
- It will just work on OSX right now.
- For some reason I lost the auto redirect to `/i

[2014-07-25 01:53] pi-ron commented on #12
I'm again unable to download sites wah.

The `rm -rf ~/.drush/cache` trick hasn't worked this time around..

I checked out the Git Connection problems issue and I also cannot pull from within kalabox:

[code]

[2014-07-25 18:36] thiagodemellobueno commented on #51
@pirog here's some screens illustrating my thinking.
Perhaps a discussion soon? I'd also like to talk through the global settings (anything other than configuring targets go in there?)

Also I've been referring to 'deployment targets' as 'push target' but maybe we just call them targets?

My Sites as a list (access to most functionality from list)
![mysites list](https://cloud.githubusercontent.co

[2014-07-25 19:04] pirog commented on #12
@reynoldsalec definitely need to resolve this issue. seems to be the #1 roadblock for people.

[2014-07-25 19:59] aristomenis opened #82 ""No Realm Detected" when pulling site"
Hello,
- Created a new site in Pantheon
- Spun up Kalabox
- Site showed with the grey cloud in Kalabox under "My Sites"
- Clicked it and chose download

Error:
"Request failed: 403 "No realm detected." [failed] Could not clone code from the remote repository. Check that your SSH key is loaded and the codeserver is reachable."

Verified that I could git clone the site from Kalabox's SSH - so no iss

[2014-07-25 22:10] gremy commented on #69
I tried it on a fresh kalabox compiled version of the 1.x branch and I did not have this problem. I can easily pull any new updated from pantheon repositories.
I did however pushed a merge request to update the VERSION_STRING in kalabox,json to beta7.

[2014-07-25 22:59] gremy commented on #56
Would this python script be good? We can compile it as a binary cross platform, so python would not be required on the host machine.
https://github.com/jasonvanzin/hostfileupdate/blob/master/hostfileupdate.py

[2014-07-25 23:40] reynoldsalec commented on #12
Sites pulled via the dashboard use terminatur; they will automatically add the terminatur key as long as it exists, so that should be a different issue than trying to pull code via git from the command line within the box.

For example, I have to manually add my SSH key in Kalabox or I get the issue in #69, but I can still pull sites via the dashboard when I haven't added the SSH key (once I've pu

[2014-07-26 04:44] mikemilano commented on #56
Another option might be a DNS service running in Docker. I tested with `dnsmasq`. This route would stay out of the way of the user's /etc/hosts file.

dnsmasq has an option to serve records from a host file, so this example uses that method to keep things simple.

On the Docker host, setup a custom hosts file:

[code]

Then create a dnsmasq image:

[code]

Build and run it

[code]

Now the docker

[2014-07-27 21:51] pirog commented on #51
@madeofpeople i think these are all great and lets def chat soon.

[2014-07-27 22:13] pirog commented on #78
@kjwaddel did this seem to resolve your issue?

[2014-07-27 23:53] pirog commented on #70
awesome! we are hoping to launch a linux prototype in the next month or so!

[2014-07-27 23:56] pirog commented on #81
@chrowe yeah the "box me" screen does sometimes flash for a bit. This was a result of us moving from AppJS to NodeWebkit but still using Express which node-webkit doesnt really like. We should figure out a way to fix that since its confusing and annoying. That issue is posted here
https://github.com/kalamuna/kalabox/issues/41

For the plugin... this is troublesome. @reynoldsalec maybe we can add a

[2014-07-27 23:56] pirog commented on #15
awesome! love it when issues are heavily multicolinear

[2014-07-27 23:58] pirog commented on #82
Thanks for posting this @aristomenis!

@reynoldsalec @gremy it would be great to see if this UUID fail is happening for other people. anyone game to test? ill give it a try as well.

[2014-07-28 00:10] pirog commented on #56
@mikemilano i am definitely intrigued by this approach. we are currently using the "hostile" node plugin to manage users hosts files but for a couple reasons this approach leaves a lot to be desired.
1. needs to be run as an admin
2. because of 1. we need to execute it as a script with the node binary (may be another way to do this)
3. because we are using node-webkit we cant actually assume the n

[2014-07-28 00:11] pirog commented on #56
@gremy how is this python binary approach any different than what we are already doing in V1 with the node binary and hostile mod?

[2014-07-28 00:14] pirog commented on #53
oh wow! this is great. im going to spin up a 2.x branch after i write some @mikemilano inspired docs for everybody but i will test this out ASAP

[2014-07-28 00:24] pirog commented on #54
I think Angular would be awesome. I'm sure @reynoldsalec would approve as well. I was looking at the https://github.com/Anonyfox/node-webkit-hipster-seed kit which seems intriguing but also maybe excessive? Not really sure how i feel 100% about it yet but something like that would be good.

One of my big Q's right now is where to go from V1. What i mean by that is... i don't think it would be supe

[2014-07-28 03:52] pirog opened #84 "Update Kalabox page on kalamuna.com"
We need to update teh kalabox page now that the KS is done and we need to either remove the "support" or have it redirect to the github issues.

maybe a good jam for @katypool?

[2014-07-28 05:13] #5 closed, assigned to labboy0276

[2014-07-28 05:13] #72 closed, assigned to pirog

[2014-07-28 05:13] #50 closed, assigned to pirog

[2014-07-28 05:16] pirog commented on #63
This is now covered in #51

[2014-07-28 05:16] #63 closed, assigned to pirog

[2014-07-28 05:26] pirog opened #85 "Create a developer overview in the wiki"

[2014-07-28 05:29] pirog opened #86 "Development environments"
It would be great to provide some VM images, or instructions on how to create these images so people can get set up easily for DEV purposes.

That said it's a little tricky since kalabox needs VB, which creates an inception scenario where we have VB running inside VB. On initial trials this has produced some errors so we want to figure out the most stable and reliable way to get people setup.

[2014-07-28 05:37] pirog opened #87 "Update contribution wiki after all issues are completed"

[2014-07-28 05:38] pirog opened #88 "Start a new github "kalabox" organization for all V2 things"
In line with other open source providers we may want to start a neutral organization to house all 2.x code.

[2014-07-28 05:39] pirog commented on #88
We may want to do this after a stable release vs now

[2014-07-28 05:45] pirog opened #89 "Instructions to run from source in windows and debian"
When we have an idea on how to do this we need to update
https://github.com/kalamuna/kalabox/wiki/Contributing-to-Kalabox-V2

[2014-07-28 05:47] pirog opened #90 "Update packaging instructions to work for Windows/Debian"
https://github.com/kalamuna/kalabox/wiki/Contributing-to-Kalabox-V2#packaging-a-kalabox-binary-from-source

[2014-07-28 05:52] pirog commented on #52
Changing this issue to just deal with deciding what CI to use

[2014-07-28 05:53] pirog opened #91 "Better debugging tools"
We need to figure out the best debugging tools to use for the node app and update the wiki with instructions on how to do this
https://github.com/kalamuna/kalabox/wiki/Contributing-to-Kalabox-V2#debugging

[2014-07-28 06:15] pirog opened #92 "Testing"
we def want as much test coverage as possible. I vote for mocha but am down for other options.

[2014-07-28 06:20] pirog opened #93 "Automated builds"
we want dev packages for OSX/Win/Debian to be generated and posted somewhere on each PR merge to 2.x/master. We also want packages to be generated on each release and posted to github.

[2014-07-28 06:25] #48 closed, assigned to nobody

[2014-07-28 06:26] #55 closed, assigned to nobody

[2014-07-28 08:20] pirog commented on #77
@dsacks any progress on this?

[2014-07-28 08:20] #76 closed, assigned to andrewmallis

[2014-07-28 08:21] pirog commented on #26
@bassettsj im going to move this to V2 and cut our losses on V1

[2014-07-28 08:22] #6 closed, assigned to nobody

[2014-07-28 08:25] pirog commented on #71
@ultimike feel free to reopen!

[2014-07-28 08:25] #71 closed, assigned to reynoldsalec

[2014-07-28 08:28] pirog opened #94 "Make sure box correctly reports that it has started, "cannot load sites list""
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3358413-make-sure-box-correctly-reports-that-it-has-started-cannot-load-sites-list?utm_campaign=plugin&utm_content=tracker%2F1250748&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F125074

[2014-07-28 15:39] kjwaddel commented on #78
Sorry for not getting back to you sooner.  No it didn't.  I had the same error popup.  Here's the gist for it in case it give any more info: https://gist.github.com/kjwaddel/83197b4d1f5a05542ef2

[2014-07-28 17:38] dsacks commented on #77
I did a refresh with new backup of the site in Kalabox and it actually seems to work okay now. So all I can figure is it was content/development issues last week.

The only issue I've seen is an error when trying to clear all caches in Drupal:

Error: DatabaseSchemaObjectExistsException: Table <em class="placeholder">field_data_field_sort</em> already exists. in DatabaseSchema->createTable() (line

[2014-07-28 17:53] aristomenis commented on #82
As an addendum, I'm able to consistently reproduce this at the moment.  Just now:
- Spun up new site in Pantheon (used Commerce Kickstart distro)
- Made a backup
- Started fresh Kalabox instance
- Refreshed sites in Kalabox... new site appears
- Click on grey cloud to download from latest backup

Error:
Request failed: 403 "No realm detected." [failed] Could not clone code from the remote reposito

[2014-07-28 17:54] pirog commented on #82
awesome!
going to burn through the 1.x queue today so i'll have a chance to try and replicate this as well.

[2014-07-28 18:36] pirog commented on #82
K, just spun up a fresh box and have all my UUIDs as expected. Will try your steps to replicate now.

[2014-07-28 18:48] aristomenis commented on #82
Hmm, I wonder if something is garbaged up in my setup.

[2014-07-28 18:50] gremy commented on #56
@pirog After you compile the binary you don't need to have python or node installed on the host machine. You can simple execute the binary, which is very small, so no overhead.

[2014-07-28 19:29] pirog commented on #56
@gremy good to know. definitely an option.

[2014-07-28 20:07] tizzo commented on #56
I think what might be a much stronger option would be to use [avahi](http://avahi.org/).  Zeroconf will work right out of the box for all macs,
requires one lil' package to be installed on linux, and is pretty easy to
get up and running on windows (I'm told; I haven't really run windows since
2005).

Unfortunately avahi doesn't let you just add cnames to a conf file so there
are python projects fo

[2014-07-28 22:57] pi-ron commented on #12
@reynoldsalec

### Kalabox Log

[code]

[2014-07-29 14:57] #41 closed, assigned to nobody

[2014-07-29 14:59] pirog opened #97 "GRUB autoloader"
grubs autoloader fails if the box shuts off weirdly
http://unix.stackexchange.com/questions/68618/grub-waits-for-user-input-when-booting-as-guest-in-virtualbox

(no lock for mount?)

[2014-07-29 16:22] ArjunaSoriano opened #98 "Kalabox stalls before installation - add a pop up to inform user if Vagrant is above 1.5+"
I am trying to install on my MBP running 10.9.4.

I have uninstalled Kalabox several times with both options but I still get this issue. When I hit, 'Box me' I get a window with the arrow image but nothing happens. On my other machine it immediately asks for an administrator password.

Here is the log:
### Kalabox Log

2014-07-29T16:15:57.056Z - info: Existing VirtualBox installation, version 4.2.

[2014-07-29 16:25] pirog commented on #98
What kalabox version?
is it possible that the admin password dialog is getting hidden behind the window?

[2014-07-29 16:26] sbilde opened #99 "Stuck on installing.."
Trying the kalabox v.1, but im getting the following error in the log: http://d.pr/i/EotN

Could someone point me in the right direction, so I can test this magic box I have heard so much about;)

/Steffen

[2014-07-29 16:31] ArjunaSoriano commented on #98
I have been trying the Beta7 version. I had thought of that because windows sometime gets lost between my two screens but I am 99% sure it is not there. I have put it to full screen and closed all other windows and it is simply not there. Hope this helps.

On Jul 29, 2014, at 9:25 AM, Mike Pirog notifications@github.com wrote:

[2014-07-29 16:32] pirog commented on #99
check this issue out. seems to be the same... lets consolidate
https://github.com/kalamuna/kalabox/issues/98

[2014-07-29 16:32] #99 closed, assigned to nobody

[2014-07-29 16:33] pirog commented on #98
almost positive this is stuck because its waiting for that dialog although not sure why it isn't loading.
do you have an entry for kalabox in your keychain?

[2014-07-29 16:34] ArjunaSoriano commented on #98
There is a Kalabox entry in the keychain.

On Jul 29, 2014, at 9:33 AM, Mike Pirog notifications@github.com wrote:

[2014-07-29 16:34] pirog commented on #98
try deleting it and restarting and see if that helps!

On Tue, Jul 29, 2014 at 12:34 PM, ArjunaSoriano notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-29 16:35] ArjunaSoriano commented on #98
Trying it now.

Thanks

On Jul 29, 2014, at 9:34 AM, Mike Pirog notifications@github.com wrote:

[2014-07-29 16:37] reynoldsalec commented on #69
Having looked at this and been in communication with @pirog, our preferred solution for this issue would be to:

1) Create a drush command in Terminatur that performs terminatur_bootstrap (but does not load the site list) to correctly load the keys.
2) Run that at the end of box start.

[2014-07-29 17:03] sbilde commented on #99
Thanks Mike..- Seems to be working after deleting the keychain value:
http://d.pr/i/9zMF

Coooool :)

2014-07-29 18:32 GMT+02:00 Mike Pirog notifications@github.com:

[2014-07-29 17:07] pirog commented on #99
Great! could you post this over on #98?

[2014-07-29 17:08] pirog commented on #98
If that resolves the issue are you guys using iCloud keychain?

[2014-07-29 17:09] sbilde commented on #98
I think it almost worked..- Im getting stucked at this point for 10 min: http://d.pr/i/6YXl

[2014-07-29 17:14] pirog commented on #98
10 minutes is def too long... are you seeing VirtualBox in your applications folder? What happens if you close and reopen?

[2014-07-29 17:14] ArjunaSoriano commented on #98
So, it asked for a password this time but it is still getting stuck at the same point in the log:

2014-07-29T16:45:24.442Z - info: Existing VirtualBox installation, version 4.2.18
2014-07-29T16:45:24.443Z - info: Existing Vagrant installation, version 1.6.3
2014-07-29T16:45:24.443Z - info: VirtualBox not installed or wrong version. Installing.

Here is a screen shot of the window I am seeing: htt

[2014-07-29 17:16] ArjunaSoriano commented on #98
Oh and I am not using iCloud keychain.

[2014-07-29 17:19] sbilde commented on #98
Im not using the iCloud keychain as well.

[2014-07-29 17:22] sbilde commented on #98
If deleting the virtual box from the system (using the Uninstaller), and deleting the kalabox key in keychain, the installation is starting, and the progress bar moves until a certain point: http://d.pr/i/6YXl

If shutting down kalabox and start it again, I am getting the same error as Arjuna (both logo and screen)

[2014-07-29 17:26] pirog commented on #98
@reynoldsalec @gremy do you think this is being caused by the previous version checking issue that resolved here https://github.com/kalamuna/kalabox/commit/c2bc580c3c39c591887b975236ecc4fa0a17af65 ?

[2014-07-29 17:31] pirog commented on #98
@sbilde @ArjunaSoriano if you guys are feeling bold... i _think_ this issue was resolved and should be in the next release so if you build from source and try it would be useful debug info
https://github.com/kalamuna/kalabox/wiki/Contributing-to-Kalabox-V2#packaging-a-kalabox-binary-from-source

[2014-07-29 17:31] sbilde commented on #98
@pirog Im definitely getting longer in the process now after deleting both the Virtual box AND the Vagrant already installed on my mac: http://d.pr/i/VRv

[2014-07-29 17:33] ArjunaSoriano commented on #98
@pirog I will give it a try!

[2014-07-29 17:33] pirog commented on #98
One thing that i did notice is we don't support Vagrant 1.5+ yet (see https://github.com/kalamuna/kalabox/issues/28) so if you have Vagrant already installed you'll def want to uninstall it first which you can do using option 2 in the uninstall.tool.

[2014-07-29 17:35] sbilde commented on #98
Wuuup Wuup :) http://d.pr/i/U3UI

[2014-07-29 17:41] pirog commented on #98
LOOKIN GOOD IN THE NEIGHBORHOOD!

[2014-07-29 17:41] #97 closed, assigned to nobody

[2014-07-29 17:44] sbilde commented on #98
Just awesome with the Pantheon integration!! - Regarding the V2 of Kalabox for Mac..- Is it stable at this point, while you're working the the supportation of windows?

[2014-07-29 17:48] pirog commented on #98
There actually is no V2 of Kalabox for ANYTHING yet... what you are using is V1 which is a "prototype" but we are committed to getting it as stable as possible while we co-develop V2.

[2014-07-29 17:52] sbilde commented on #98
Sounds awesome!..- So glad I backed this project on Kickstarter..- So freaking cool, when managing all of our sites at out Pantheon One account..- Thanks for the help Mike..- And do ping me, if I in any way can help out with some testing.

[2014-07-29 17:54] pirog commented on #98
Thanks so much for backing the project! You're awesome!

If you think V1 is cool V2 is going to BLOW YOUR MIND :)

[2014-07-29 18:36] kopeboy opened #103 "Recent update ends quietly, Kalabox can't start servers, and re-start installation after reopening"
I was noticed of an update. I click to proceed with it. Went on doing something else afk, I come back and I see nothing other than normal Kalabox window with Stopped servers. If I try to start them it shows an error and can't start. I quit Kalabox. On reopening big green button of "Box me" appears, like a first installation, and after a few seconds I get Uh Oh unexpected error.
This is the log:
##

[2014-07-29 18:37] pirog commented on #80
still some weird UX funk in edge cases but this should be better and not error out anymore

[2014-07-29 18:37] #80 closed, assigned to reynoldsalec

[2014-07-29 18:37] pirog commented on #103
Shit.

Can you tell me what you have in ~/.kalabox/kalastack?

[2014-07-29 18:40] kopeboy commented on #103
Only config.json:

{
  "boxname": "kalabox",
  "boxuser": "vagrant",
  "kalastack_version": "3.0-beta4",
  "terminatur_version": "1.0-beta1",
  "puppet_environment": "threebetathree",
  "default_memory": "2048",
  "memory_divisor": "4",
  "box_location": {
    "32": "http://files.kalamuna.com/kalabox32.box",
    "64": "http://files.kalamuna.com/kalabox64.box"
  },
  "ip": "1.3.3.7",
  "host_ip": "

[2014-07-29 18:43] pirog commented on #103
well, that will definitely do it. strange its not grabbing the new stack.

try extracting the lastest kalastack release into that directory
https://github.com/kalamuna/kalastack/releases/tag/3.0-beta5
and be careful not to delete the hidden .vagrant and .kalabox directories.

then try restarting Kalabox

[2014-07-29 19:21] pirog commented on #103
@reynoldsalec if you have time to look at this real quick that would be awesome. possibly the same issue as the last update rage?

[2014-07-29 19:40] ModulesUnraveled opened #104 "Can we cache the latest version of Drupal?"
## My issue

Hey, I was on vacation this last week, and didn't have a reliable internet connection, so I had to use a cell phone as a hotspot. Since Klabox downloads the latest copy of Drupal for each install, that meant that I had to download it using my data plan. Drupal's not huge, so that wasn't a big deal, but when I was riding in the back of the van, the coverage was spotty (could even be no

[2014-07-29 19:40] pirog commented on #103
Anyone else who is on this issue, can you all also verify that the only thing you have in ~/.kalabox/kalastack is the config.json file?

[2014-07-29 19:46] pirog commented on #104
I think this is a great idea and would be an amazing feature!

I think V1 is all about bug fixes and stability improvements at this point but this seems like a solid thing for V2.

[2014-07-29 20:05] pirog commented on #103
I can replicate this issue and have a workaround until it is fixed. Standby.

[2014-07-29 21:11] reynoldsalec commented on #103
Deployed the fix for this that I mentioned to you @pirog; just updated my Kalabox and everything was gravy, so I think that should mean we're good for everyone performing new updates.

[2014-07-29 21:14] pirog commented on #103
Sweet! What was the cause of the rage?

On Tuesday, July 29, 2014, reynoldsalec notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-29 21:14] kopeboy commented on #103
I extracted it and opening brings up the "Oh Hello." with the big green "Box me" button.
Should I proceed?

[2014-07-29 21:18] pirog commented on #103
No! I'll post the workaround for people who have already tried and failed
pre @reynolds update in just a second.

At the airport but will be around in 15-30.

On Tuesday, July 29, 2014, Lorenzo Giovenali notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-29 21:19] kopeboy commented on #103
Nothing. Same error after clicking Box me. At ~/.kalabox/kalastack I have the hidden .vagrant and .kalabox directories and the config.json now looks like this:

{
  "boxname": "kalabox",
  "boxuser": "vagrant",
  "kalastack_version": "3.0-beta4",
  "terminatur_version": "1.0-beta1",
  "puppet_environment": "threebetathree",
  "default_memory": "2048",
  "memory_divisor": "4",
  "box_location": {

[2014-07-29 21:20] kopeboy commented on #103
Oh sorry, I didn't refresh the page :/ thanks

[2014-07-29 21:52] pirog commented on #103
OK. For people that tried to update and failed i think the following codescience should get you back in business.

Open up Terminal a
1. Get your VBOX Hash by running

[code]

Copy the hash, it should be in between the {}.

In this example:

[code]

It is 2e5dc1a2-fe8b-4b3d-96c5-f9f7ad63844e
1. Open up the VirtualBox app and make sure the box that is listed as something like kala.fc2df93026c720aa9

[2014-07-29 22:12] kopeboy commented on #103
Followed the steps.
After typing vagrant up --provision:
"A Vagrant environment is required to run this command. Run `vagrant init`
to set one up in this directory, or change to a directory with a
Vagrantfile and try again."

If I run "vagrant init" I get this error:
"vm:
- The box 'base' could not be found."

Just a notice, should step 2) produce any visible output in terminal? Cause it didn't.

[2014-07-29 22:23] kopeboy commented on #103
Ok, the problem was me extracting inside kalabox/kalastack (thus having kalabox/kalastack/kalastack-beta..) instead of inside kalabox and renaming/replacing the kalastack-beta-5 folder to kalastack.

Now "vagrant up --provision" run for a minute and Kalabox app is working.
Thank you for your fast replies and excuse my ignorance.

[2014-07-29 22:24] pirog commented on #103
Uninstall/Reinstall is always pretty sure fire.

If you want to continue the update ... can you verify what you have in ~/.kalabox/kalastack? maybe ...

YUP! you beat me to it!

[2014-07-29 23:29] pirog commented on #103
I think this pretty much resolves the issue both for new updaters and also old ones. Going to leave open for people to find but will close in a bit.

[2014-07-29 23:30] pirog commented on #94
Ive provided a more robust form of turning the box "on" and making sure it is ready for beta9.

but we should still specifically handle what happens when the http://aliases.kala does not exist. Moving that to beta9.

[2014-07-29 23:39] pirog commented on #98
I am going to roll a beta8 release later tonight so keep an eye on that as it may resolve this issue.

[2014-07-29 23:41] ArjunaSoriano commented on #98
Great… Thanks.
I haven’t had time to try the fix you suggested earlier. I will try beta8 before moving forward on that. Thanks again for the help.

On Jul 29, 2014, at 4:39 PM, Mike Pirog notifications@github.com wrote:

[2014-07-30 00:07] pirog commented on #69
this is actually going to be kind of a joke fix i think
`_terminatur_keys()`
already does everything.

just need to make it into a drush function or maybe we an just hit it as is with drush exec.

[2014-07-30 00:12] pirog commented on #69
yeah
`drush php-eval "_terminatur_keys();"` does the trick but now getting

Could not open a connection to your authentication agent ?

[2014-07-30 00:14] pirog commented on #69
eval $(ssh-agent) first

[2014-07-30 08:12] #69 closed, assigned to nobody

[2014-07-30 10:47] kopeboy opened #106 "Provide some documentation for common V1 operations"
I cd to my site (kalabox/www/mysite) and run drush en a_module:
"Command pm-enable needs a higher bootstrap level to run ..."

I searched online and in your wiki but couldn't find a guide to use drush, only Terminatur for a Pantheon-downloaded site. What if I want to use drush on a local site, and later upload the site to Pantheon?

Instead, drush dl a_module works

[2014-07-30 17:02] mikemilano commented on #56
@pirog It's my understanding that resolv.conf is not used with OSX, despite the fact that it's there. I had to manually add the DNS entry in system -> network -> [interface] -> advanced -> dns. Linux would obviously work, but I'd need to look into what it takes to do that programmatically in Windows & OSX.

What brought me back to the topic this morning was a good docker/dnsmasq example published

[2014-07-30 17:59] dakala opened #107 "Kalabox fails to run when offline (without internet access)"
Tried to start kalabox on the train this afternoon (first time of trying to do this without internet access) and couldn't. With a different vagrant set up on another machine. there's no problem with working on the train without internet connection.

What have I missed? Sorry if this isn't the right place for this issue. Thanks!

[2014-07-30 18:53] mikemilano commented on #54
@pirog I like the idea of starting from scratch. AngularJS architecture is so different from anything else that there would be much re-writing anyway.

How do you feel about coffee script? I haven't drank that coolaide yet and not sure about the hipster seed. I just went with a simple but organized approach with the `nw-ng` example.

We could keep the V1 stuff in there for reference and run the v1

[2014-07-30 20:09] pirog commented on #107
hmmmm. does the box just not start? does it give an error? can you paste in the log which is found at ~/.kalabox/kalastack

[2014-07-30 20:14] pirog commented on #106
using drush should be the same. have you checked this out at all?
https://www.drupal.org/node/757386

[2014-07-30 20:44] kopeboy commented on #106
Yes I checked that and tried all propesed solutions without success. There are many different posts spanning 4 years and I am not sure will apply to the Kalabox stack or my mac configuration (I had worked also with bitnami-drupal recently, maybe something is conflicting upon drush?).

Solution #4 & #6 & #7 : I cd to /Users/me/kalabox/www/mysite and run drush en mymodule there, isn't that correct?

[2014-07-30 20:45] dakala commented on #107
Hi @pirog. I'm afraid no logs but I think I know why. When I got home and got back online, kalabox updated itself and I suppose that wiped out the logs. Would that be a plausible reason?

When I disconnected a while ago, kalabox started up after a brief error message (There's a problem with loading your sites list. Restarting the box may resolve it.) but all the applications started fine.

Will po

[2014-07-30 20:47] pirog commented on #106
ohhhh i see what you are doing. so you can def run drush externally on your mac but you may need to create better aliases to help facilitate that.

generally when i run drush i will click on the ssh button the kalabox dash and run commands from there. the sites are in /var/www.

[2014-07-30 20:52] pirog commented on #107
makes sense. i didnt think the updater deleted the logs but maybe it does. certianly plausible.

the "sites list" error just pops up because the check is done too soon. if you give it like 4 seconds it usually loads up fine. that is pegged for resolution in beta9 and currently tracked here: https://github.com/kalamuna/kalabox/issues/94

[2014-07-30 20:57] kopeboy commented on #106
I don't have a www folder inside /var ... :O

If I click on the SSH button what should I do next? Typing ls I can only see one of my sites which was created on Pantheon.

Thanks for you support :(

[2014-07-30 21:00] pirog commented on #106
/var/www should be be in kalabox so you will need to click SSH first. Once
you get in do something like

[code]

To see call your sites and then you can just cd into a site and you should
be able to use your drush commands right there.

On Wed, Jul 30, 2014 at 4:57 PM, Lorenzo Giovenali <notifications@github.com

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-07-30 21:01] dakala commented on #107
Will report back tomorrow. Awesome work, guys!

[2014-07-30 21:03] kopeboy commented on #106
Finally! Thanks a lot man! How can I send you a free beer?

[2014-07-30 21:03] pirog commented on #106
:beer: :)

[2014-07-30 21:04] kopeboy commented on #106
:beers:

[2014-07-30 21:05] pirog commented on #106
3 > 1 for sure!

[2014-07-30 21:05] pirog commented on #106
oh wait is that actually 2? i must be drunk already.

[2014-07-30 21:06] kopeboy commented on #106
Ok, I am very sorry for having spammed in your issue queue lately. I think you really need to write some documentation for 'noobs' like me, and I would like to help but I don't think I am the right one to do it :(
Enjoy the beers (11pm here)

[2014-07-30 22:18] mikemilano commented on #53
The latest commit fixes the install redirect and reverted the toolbar value. I think we just need to decide running a `git pull` on `kalastack-docker` in the install is OK and then work on the progress status. It should install everything now though. It takes a while when starting from scratch.

[2014-07-31 15:37] pirog commented on #106
No worries! Issue reports make the project better for everybody. If you want to list maybe the top five things that would be good for us to include in documentation that would be super helpful!

[2014-07-31 15:44] pirog commented on #54
Perfect! I think that is what i am heavily leaning towards esp having just worked on the V1 code and realizing it's... well... it could be better :)

I like the idea of coffeescript but haven't really used it yet. I know @bassettsj is a big fan. I'm agnostic on it for use on V2 for now and looking at it more `nw-ng` or something like https://github.com/jgrenon/angular-desktop-app might be a better

[2014-07-31 16:01] pirog commented on #53
i dont think we can assume that git is installed on the host machine. i know we were just downloading the archive an untarring with kalastack.

this is going to be great and helpful when we get to the installer on V2.

In the kalastack-docker repo i produced some basic install scripts for OSX/Windows and was thinking about the merit of a different installer implementation for V2 where we use somet

[2014-07-31 16:12] pirog commented on #56
this is all great stuff.

@mikemilano if you want to research what the dnsmasq implementation would entail in windows/osx i can try out @tizzo's suggestion on windows and see what exactly that entails. I definitely like a lot of the ideas in that article and +1 on `<role>.<sitename>`... thats something that i wold love to see vs the less UX friendly docker host/ip randomization. That said, we coul

[2014-07-31 16:17] kopeboy commented on #106
I would start with:

1) How to use drush (from SSH and CDing in the right directory)

2) How to export my kalabox site (especially on Pantheon): you can download with 1 click from Pantheon but how do you upload back? And what to do if instead the site was created on Kalabox? Something has been written here http://helpdesk.getpantheon.com/customer/portal/articles/361251 but the mysql dump doesn't w

[2014-07-31 16:24] pirog commented on #106
Perfect! That is all really helpful.

I'm going to change the issue here and open to reflect the need for documentation and hopefully we can get someone on this ASAP!

[2014-07-31 16:29] pirog commented on #106
@reynoldsalec @andrewmallis wont be around tomorrow for comday but this should be a priority and shouldnt take too long!

[2014-07-31 16:33] mikemilano commented on #54
Based on a preliminary look at the `angular-desktop-app` it looks pretty decent. Is the idea to use it as a seed (just a starting point) or are you thinking of keeping in sync with it as they suggest?

I'm not sure how I feel about that. I think of a seed as something you base a project on, not sync up with.

I spun up the base project but it looks like it will take some time to give it a good wor

[2014-07-31 16:37] pirog commented on #54
+1 on seeding. I dont really want to keep in sync unless there is something big i am missing there.

im going to try it out too so we can compare and contrast. i want to set next tuesday as our deadline to figure this out if possible.

i am pretty sure i agree with you on coffeescript but as a big proponent i would love to hear @bassettsj make a case and address the concerns you've laid out re: de

[2014-08-01 18:07] aristomenis opened #108 "Kalabox cannot remove site after update"
Hello,

Ran the update today via the Kalabox GUI "Updates Available".

Tried to remove a site via the GUI under "My Sites", and the "Error" dialog pops up with the detail message "Command cancelled".

Tried exiting and restarting Kalabox, but same result.

Any advice?

Thanks!
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/344570

[2014-08-01 18:12] aristomenis commented on #108
Was able to successfully remove via CLI with drush crush.

[2014-08-01 19:23] dakala commented on #107
After the update, it works after the known slight delay. I think this can be closed now. Thanks.

[2014-08-01 19:23] #107 closed, assigned to nobody

[2014-08-01 19:34] reynoldsalec commented on #108
Wasn't able to replicate this on my own (updated) box @aristomenis, perhaps you could paste a copy of your kalabox.log (~/.kalabox/kalabox.log) and we can see what may have occurred?

[2014-08-01 19:40] reynoldsalec commented on #106
Temporarily assigning to @andrewmallis, let me know if you don't have time for this and I'll knock it out.

[2014-08-01 21:21] reynoldsalec commented on #98
Goign to close this out @ArjunaSoriano, feel free to re-open if you experience the same issue on beta8 and after trying the suggested fix.

[2014-08-01 22:07] aristomenis commented on #108
Ah, good poing.  That would help, ei?  Log entry:

2014-08-01T18:01:53.744Z - warn: An error occurred in an async call.
Error message: Command failed: Command cancelled.                                                       [error]

cause stack is ...
  Error: Command failed: Command cancelled.                                                       [error]

[code]

async call history is ...
 [ { fu

[2014-08-02 01:22] reynoldsalec commented on #106
Provided drush instructions, need to write up some Pantheon export instructions: https://github.com/kalamuna/kalabox/wiki/Using-Kalabox-V1:-Drush---Exporting-Sites

[2014-08-02 05:15] mikemilano commented on #54
There's a lot of opinion & complexity in this seed that I'm wondering is necessary.

I'm having a hard time wrapping my head around the need for jade for partials when Angular is responsible for the dom dynamics. There's other decisions I'm not fond of, like reserving `/src/lib` for vendor components and I'd probably approach the use of using an alternate router based on when it was actually neces

[2014-08-02 05:17] bassettsj commented on #54
There are a lot of reasons to use cofffeescript and it is a minor dependency. But whatever you want to do. I can write both.  -Steven

On Thu, Jul 31, 2014 at 12:37 PM, Mike Pirog notifications@github.com
wrote:

[2014-08-02 16:11] pirog commented on #106
Awesome! @kopeboy feel free to review all these docs we are posting to make sure they are helpful!

[2014-08-02 16:12] pirog commented on #107
Sure thing! Feel free to reopen if it pops up again!

[2014-08-02 16:16] pirog commented on #108
"Command cancelled" is not particularly helpful... is it? :)

The "delete" function on the UI just runs `drush crush` at the end of the day so the discrepancy is weird.

Sometimes the delete function gets stuck with a file permission error when trying to delete settings.php but that would show up on manually running `drush crush` i think.

[2014-08-04 00:33] oliviercp opened #109 "Error during closing — pasting the error message"
### Kalabox Log

2014-08-02T00:44:09.626Z - info: Box initialized.
2014-08-02T00:44:09.626Z - info: Kalabox Version: 1.0-beta7
2014-08-02T00:44:09.627Z - info: Mac OS Version: 10.9.4

2014-08-02T00:44:09.627Z - info: VirtualBox Version: false
2014-08-02T00:44:09.627Z - info: Vagrant Version: false
2014-08-02T00:44:27.260Z - info: VirtualBox not installed or wrong version. Installing.
2014-08-02T00

[2014-08-04 00:40] oliviercp commented on #14
FYI, I'm just user, but I was unable to sign in as well and yet I had no double quotes in my password. After reading this thread, I decided to try simplifying my password anyway, and it worked. I removed all special characters. I didn't make any further test to figure out which characters or string of characters caused the issue, but I wanted to let you know that from my experience, the issue seem

[2014-08-04 06:12] pi-ron commented on #12
@pirog I've installed beta8 but I'm still getting download loop issue.

[2014-08-04 06:14] pi-ron commented on #12
Update – I ran `rm -rf ~/.drush/cache` and site download worked.

[2014-08-04 14:24] rovo79 commented on #78
I am having the same problems. I've disabled my firewall already. I've checked the keychain has the password entered. I'm a bit stuck now.

### Kalabox Log

2014-05-14T15:16:02.053Z - info: Box initialized.
2014-05-14T15:16:02.055Z - info: Kalabox Version: 1.0-beta5
2014-05-14T15:16:02.056Z - info: Mac OS Version: 10.9.2

2014-05-14T15:16:02.056Z - info: VirtualBox Version: false
2014-05-14T15:16:

[2014-08-04 16:26] mikegpeterson opened #110 "Update Issues"
Tried to update Kalabox as promoted, got the "Uh Oh" notice with a request to post this error log.
### Kalabox Log

2014-07-02T19:50:58.670Z - info: Box initialized.
2014-07-02T19:50:58.672Z - info: Kalabox Version: 1.0-beta6
2014-07-02T19:50:58.672Z - info: Mac OS Version: 10.9.3

2014-07-02T19:50:58.672Z - info: VirtualBox Version: false
2014-07-02T19:50:58.672Z - info: Vagrant Version: false
20

[2014-08-04 16:44] imgio opened #111 "Does not start."
### Kalabox Log

2014-08-04T16:42:18.542Z - info: Box initialized.
2014-08-04T16:42:18.547Z - info: Kalabox Version: 1.0-beta7
2014-08-04T16:42:18.548Z - info: Mac OS Version: 10.6.8

2014-08-04T16:42:18.548Z - info: VirtualBox Version: 4.2.14r86644

2014-08-04T16:42:18.548Z - info: Vagrant Version: false
2014-08-04T16:42:36.761Z - error: Error during installation routine: An error occurred in an

[2014-08-05 02:36] pirog commented on #111
Issue here is that Kalabox does not work on OSX below 10.7 :(

We should make sure this is clearly stated in teh readme or otherwise.

[2014-08-05 02:38] pirog commented on #110
Have you tried updating to Beta8?
https://github.com/kalamuna/kalabox/releases/download/1.0-beta8/kalabox-1.0-beta8.dmg

[2014-08-05 02:45] pirog commented on #78
I see you upgraded from Beta5 to either Beta7 or Beta8. It's possible the upgrade pathway does not work from that far back.

What i would do to resolve the issue is to download the latest kalasack from here
https://github.com/kalamuna/kalastack/releases/tag/3.0-beta5 and extract it into ~/.kalabox/kalastack so that the Vagrantfile exists at ~/.kalabox/kalastack/Vagrantfile. After doing that try to

[2014-08-05 02:48] pirog commented on #78
@reynoldsalec i think the issue here is older versions of the box don't have `terminatur_keys()` and its being called re: #69 before updates can run. We might just want to check to see if the terminatur version is high enough before we try to run that stuff.

[2014-08-05 02:50] pirog commented on #12
I was able to replciate this on a fresh beta8... looks like the game is still afoot.

[2014-08-05 02:53] pirog commented on #98
@ArjunaSoriano have you tried this out at all?

I did noticed during a training this week that some people that had certain VB versions installed beforehand experienced this error. I'm going to reopen this... @reynoldsalec @gremy can you guys replicate this when trying to install with VB 4.2.18 already installed and vagrant not installed at all?

[2014-08-05 02:55] pirog commented on #14
Great to know! I'll change the issue to reflect that.

Any special characters in your old password we can test out?

[2014-08-05 02:56] pirog commented on #109
@ocompagne can you give a little more detail around your issue? what are you trying to do when it errs?

[2014-08-05 03:06] oliviercp commented on #14
Hmm hard to say now, it was a strong generated password like "VvEpUNCwF#h78!v%", so there were likely several. I think I remember at least a % symbol. Probably others... Sorry I can't be more specific.

[2014-08-05 03:09] pirog commented on #14
no worries, anything to hone it down helps :)

[2014-08-05 03:10] oliviercp commented on #109
Sorry - I was just following the instructions in the Kalabox software to paste the content of the error message on this board. I'm not really looking for help.

But yes I can give more details if that's helpful: I was simply closing Kalabox, and I got this error message. As I read the error, it seemed like an authentification error, which made sense because I hadn't been able to sign in with my Pa

[2014-08-05 03:11] pirog commented on #109
What are you doing when you "close" kalabox? are you going to File -> Exit? Or using some other mechanism?

[2014-08-05 03:26] oliviercp commented on #109
I click the red close button in the corner of the window.

_Olivier CompagneSee my roles »
https://glassfrog.holacracy.org/people/916_
Schedule time with me http://meetme.so/oliviercompagneh1
HolacracyOne, LLC
holacracy.org
[image: Facebook] http://www.facebook.com/holacracyone [image: Twitter]
http://www.twitter.com/holacracyone [image: YouTube]
http://www.youtube.com/holacracyone

On Mon, Aug 4,

[2014-08-05 03:27] ArjunaSoriano commented on #98
I was able to get kalabox labor installed with the latest beta. I haven't had the time to get much farther than this though. I tried to pull down my production site from Pantheon and it promptly filled up my HD, an issue that I will address this week.

Thank for all of the help.

[2014-08-05 18:24] rovo79 commented on #78
I've downloaded the kalasack and replaced the kalastack folder with it. Rebooted my machine, started Kalabox back up, but now just get this generic error popup when I go to the configure tab and try to connect to Pantheon.
![screen shot 2014-08-05 at 2 22 35 pm](https://cloud.githubusercontent.com/assets/117691/3816326/aec5dfc2-1ccd-11e4-971e-1ccd8e39b49e.png)

[2014-08-05 23:51] pirog commented on #78
are you able to restart (ie stop then start) kalabox?

can you SSH into the box and run the below command? what is the output?

`curl --connect-timeout 5 http://google.com`

[2014-08-05 23:57] dsquaredb opened #112 "Error when spinning up: can't detect VirtualBox"
Here is the message I get when attempting to spin up a box on a new MacBook Pro running OS X 10.9.4:
### Kalabox Log

2014-08-05T23:45:58.887Z - info: Box initialized.
2014-08-05T23:45:58.888Z - info: Kalabox Version: 1.0-beta7
2014-08-05T23:45:58.888Z - info: Mac OS Version: 10.9.4

2014-08-05T23:45:58.888Z - info: VirtualBox Version: false
2014-08-05T23:45:58.888Z - info: Vagrant Version: false

[2014-08-06 00:01] pirog commented on #12
hmmmm, this failed when i tried it on the MIT wifi network but succeeded at Kalamuna HQ... maybe port blocking for SSH?

[2014-08-06 00:06] pirog commented on #112
If you look in your applications folder can you see VirtualBox?

[2014-08-06 01:13] dsquaredb commented on #112
Thanks for the quick response. I am away from my computer this evening. I'll take a look tomorrow and get back to you.

Sent from my iPad

[2014-08-06 13:27] rovo79 commented on #78
​Hello,
I am able to restart Kalabox, and I can SSH into it, but I can't CURL to
google.com
curl: (6) name lookup timed out​

On Tue, Aug 5, 2014 at 7:51 PM, Mike Pirog notifications@github.com wrote:

[2014-08-06 14:26] dsquaredb commented on #112
I checked my applications folder and do not see VirtualBox.

On Aug 5, 2014, at 8:06 PM, Mike Pirog wrote:

[2014-08-06 15:53] dsquaredb commented on #112
Hey Mike,

Just an update... After several failed attempts to spin up Kalabox again this morning, I rebooted my computer and tried one more time. Success. Everything seems to be working fine now.

Not sure what the problem was exactly, but  when I used the uninstaller, I saw a message about running VirtualBox instances. So, I tried the reboot to see if it would stop them and it worked.

On Aug 5,

[2014-08-06 18:31] bassettsj commented on #26
Okay.

[2014-08-06 19:24] ModulesUnraveled commented on #10
Okay, I finally got this all working! (It's pretty slow, but I think that's an issue with Vagrant and not anything you guys can fix. Unless you can... then that would be great! :))

Here's a video showing how it all works together:
http://screencast.com/t/QfClNQ1VW

And on a possibly related note (I only got this after I modified the Vagrantfile etc.) I started getting this error which it keeps po

[2014-08-06 19:41] pirog opened #113 "Chromebook/ChromeOS support?"
Chromebook is an intriguing possible platform to support given its low cost and likely usage in primary education and trainings. We need to discuss the feasibility of kalabox here. This discussion from the docker peeps is a good starting point
https://groups.google.com/forum/#!topic/docker-user/99vtMOLpuZY

The two obvious areas of concern are:
1. Does ChromeOS support VirtualBox and/or Docker (Li

[2014-08-07 01:17] pi-ron commented on #12
Let me know if you need any further testing done.  Seems to be working well again after the cache clear.

[2014-08-07 01:22] pirog commented on #12
Good to know. @Tigeda what would be great is for someone to produce some steps on how to actually replicate this error so if you are down to help with that that would be awesome!

[2014-08-07 01:26] pi-ron commented on #12
Yeh I'm happy to help but it seems very random from and end user point of
view. I'm not exactly sure what I do or don't do to make it happen.
 Besides from the semi-solution of clearing drush cache I've got no process
to follow!

[2014-08-07 01:59] pi-ron commented on #12
Ok, I've just had the dreaded download loop return.  The scenario was:
- kalabox-1.x-beta8
- Site had been downloaded previously, but not completed.  This site download was initiated while multiple other site downloads were underway.
- Site codebase exists at ~/kalabox/www
- Site did not show as being downloaded in Kalabox UI.

##

Attempted to download site without files from an existing backup a

[2014-08-07 03:19] bfeltman opened #114 "Error when trying to reinstall Kalabox"
Hello,

I successfully installed Kalabox, then it wouldn't start anymore so I uninstalled and reinstalled and now I receive the following error.  Please help.
### Kalabox Log

2014-08-06T03:47:55.174Z - info: Box initialized.
2014-08-06T03:47:55.175Z - info: Kalabox Version: 1.0-beta7
2014-08-06T03:47:55.176Z - info: Mac OS Version: 10.9.4

2014-08-06T03:47:55.176Z - info: VirtualBox Version: 4.3.

[2014-08-07 15:31] dsquaredb commented on #112
Hey Mike,

Sorry to bother you, but still having a little problem with Kalabox. I got everything to install and it is working well - except that one of my sites from Pantheon won’t open. I downloaded all my Pantheon sites with Kalabox and all the others are fine. But the one that won’t open just goes to my ISPs page saying the website can’t be found.

I checked and the database and the code and fi

[2014-08-07 19:35] pirog commented on #114
Have you tried running the uninstall.tool with option #2 and then reinstalling?
Could you tell us more about how it wouldn't start before you reinstalled? any error message or anything there?

[2014-08-07 19:45] pirog commented on #112
No worries. I would check two things.
1. Open a Mac Terminal and paste the output of `/etc/hosts` here by running `cat /etc/hosts`. Do you see your site listed there?
2. Check this issue to see if your ISP is just hijacking your DNS https://github.com/kalamuna/kalabox/issues/11

[2014-08-07 19:55] pirog commented on #12
awesome! my experience has seemingly been the same so it will be great to find the order in the chaos.

Will try to replicate with these instructions ASAP. Did you install B8 from scratch or otherwise? if other, how?

[2014-08-07 19:57] pirog commented on #10
This is great! Thanks so much @ModulesUnraveled.

The question now becomes how do we want to implement this knowledge. My intuition says maybe we just add the port forwarding line to the vagrantfile (anyone think of negative impact of just having this happen by default?) and then some documentation on how to engage the magix on the CLI?

[2014-08-07 19:58] pirog commented on #78
very strange. what happens when you `curl --connect-timeout 5 http://google.com` from just your Mac terminal, not inside Kalabox?

Are you running anything that may prevent the Kalabox VM from connecting to the internet or resolving DNS?

[2014-08-07 20:04] pirog commented on #98
haha... damn! what do you have on that site? EVERYTHING? :)

[2014-08-07 20:05] pirog commented on #109
interesting. thanks for letting us know and we will try to see if we can replicate this error.

[2014-08-07 20:12] andrewmallis commented on #10
What you said sounds good.
A release note in the next version that announces support for livereload could be nice too.

[2014-08-07 21:11] ArjunaSoriano commented on #98
Pretty much. Years of content for a national radio show called Marketplace.

On Aug 7, 2014, at 1:04 PM, Mike Pirog notifications@github.com wrote:

[2014-08-07 22:46] pi-ron commented on #12
Yes I ran the uninstall tool first and removed everything, then installed
beta8.

[2014-08-08 00:29] pirog commented on #12
Awesome! We've got a dev sprint on V1 for tomorrow so def will scope this issue out!

[2014-08-08 01:32] pirog commented on #113
@jpw1116 am i missing anything here?

[2014-08-08 01:45] pirog commented on #54
Good to know. I want to do whatever encourages the most outside development.

@mikemilano maybe we just come fill circle here and rock your https://github.com/mikemilano/nw-ng ? What would be the major disadvantages of this?

[2014-08-08 02:17] pirog opened #115 "Semantic versioning"
we want to use semantic versioning for 2.x. we want this to be as automatic as possible with semantic tags being used for official releases.

[2014-08-08 02:24] bfeltman commented on #114
I have tried uninstalling with option 1 and 2 with no success.  Before, when it wouldn't start the box just said something to the effect of "kalabox wasn't ready" but no error log like I provided above.

[2014-08-08 02:29] pi-ron commented on #12
Love your work. Bring on 1.0 & 2.0!

[2014-08-08 02:32] pirog commented on #88
renaming kalamuna/kalabox kalabox1 and starting a kalabox org for all our V2 things!

[2014-08-08 03:16] #115 closed, assigned to nobody

[2014-08-08 03:17] pirog commented on #113
go here instead: https://github.com/kalabox/kalabox/issues/2

[2014-08-08 03:17] #113 closed, assigned to nobody

[2014-08-08 03:18] pirog commented on #104
moved https://github.com/kalabox/kalabox/issues/3

[2014-08-08 03:18] #104 closed, assigned to nobody

[2014-08-08 03:21] #93 closed, assigned to nobody

[2014-08-08 03:21] #92 closed, assigned to nobody

[2014-08-08 03:22] #91 closed, assigned to nobody

[2014-08-08 03:23] #90 closed, assigned to nobody

[2014-08-08 03:24] #89 closed, assigned to nobody

[2014-08-08 03:24] #88 closed, assigned to nobody

[2014-08-08 03:24] #87 closed, assigned to nobody

[2014-08-08 03:25] #86 closed, assigned to nobody

[2014-08-08 03:25] pi-ron opened #116 "Uh oh... when installing beta8 on new machine."
Hi Mike,

I'm doing a fresh install of beta8 on a new machine. After clicking 'Box me' I haven't been watching the process, just opened it up and there is a white screen – I hadn't copied the app to my Applications folder, not sure if that matters.

Copied to my apps folder, re-opened and got this:
### Kalabox Log

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on i

[2014-08-08 03:25] #85 closed, assigned to nobody

[2014-08-08 03:26] #84 closed, assigned to reynoldsalec

[2014-08-08 03:26] #67 closed, assigned to nobody

[2014-08-08 03:27] pirog commented on #54
now over here:
https://github.com/kalabox/kalabox/issues/15

[2014-08-08 03:27] #54 closed, assigned to nobody

[2014-08-08 03:28] #26 closed, assigned to nobody

[2014-08-08 03:28] pirog commented on #40
https://github.com/kalabox/kalabox/issues/17

[2014-08-08 03:28] #40 closed, assigned to nobody

[2014-08-08 03:28] pi-ron commented on #116
Ran uninstall tool option 1, reopened Kalabox, clicked 'Box Me'

### Kalabox Log

[code]

[2014-08-08 03:29] pirog commented on #46
https://github.com/kalabox/kalabox/issues/18

[2014-08-08 03:29] #46 closed, assigned to nobody

[2014-08-08 03:30] pirog commented on #51
@madeofpeople this is annoying so im sorry but we moved the issue over here:
https://github.com/kalabox/kalabox/issues/19

[2014-08-08 03:30] #51 closed, assigned to thiagodemellobueno

[2014-08-08 03:31] pirog commented on #56
https://github.com/kalabox/kalabox/issues/20

[2014-08-08 03:31] #56 closed, assigned to nobody

[2014-08-08 03:32] #52 closed, assigned to nobody

[2014-08-08 03:32] #53 closed, assigned to nobody

[2014-08-08 03:32] #58 closed, assigned to nobody

[2014-08-08 03:33] #57 closed, assigned to nobody

[2014-08-08 03:33] #64 closed, assigned to nobody

[2014-08-08 03:34] #65 closed, assigned to nobody

[2014-08-08 03:36] #59 closed, assigned to nobody

[2014-08-08 03:36] #60 closed, assigned to nobody

[2014-08-08 03:36] #61 closed, assigned to nobody

[2014-08-08 03:36] #62 closed, assigned to nobody

[2014-08-08 03:36] #66 closed, assigned to nobody

[2014-08-08 03:40] pi-ron commented on #116
Ran uninstall tool Option 2 and got Uh oh...

### Kalabox Log

[code]

[2014-08-08 03:40] pirog commented on #116
I would def recommend moving the application to your applications folder! I
think that is critical. I would also use option #2 if possible for the full
clean.

On Thu, Aug 7, 2014 at 8:29 PM, Tigeda notifications@github.com wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-08 03:42] pi-ron commented on #116
The log also says `Kalabox Version: 1.0-beta7` but I've definitely downloaded the latest version `kalabox-1.0-beta8.dmg`

[2014-08-08 06:40] andrewmallis commented on #115
don't you mean 2.x.x?

[2014-08-08 17:06] dsquaredb commented on #112
I checked the output /etc/hosts and can see all of my Pantheon sites listed I have downloaded except for the one that is not behaving. All of the ones that I see are working fine.

I haven’t checked the DNS hijacking since all of the other sites seem to be fine.

On Aug 7, 2014, at 3:45 PM, Mike Pirog notifications@github.com wrote:

[2014-08-08 22:05] pirog commented on #112
Well that will do it! Def needs to be in /etc/hosts. Usually this is an indication that your site did not build properly. What i would do is delete the site (make sure you delete the code folder on your Mac as well) and then ssh into the box and run the following command

`drush pullsite SITENAME.dev --debug --verbose`

this should give you a good error message to help you debug.

[2014-08-08 22:07] pirog commented on #115
i just meant 2.x as in Kalabox2 but yes eventually it would follow a 2.x.y form. I'll edit the open issue in the new repo to reflect his.

[2014-08-08 22:14] pirog commented on #114
Some users have reported the need to restart their machines after running uninstall #2 so i would give that a try. I'd also try looking at this issue https://github.com/kalamuna/kalaboxv1/issues/42 which may provide some resolution and looks similar to yours.

[2014-08-08 22:15] pirog commented on #12
We love your support!
Speaking of V2.... it now has a home
https://github.com/kalabox

[2014-08-09 18:26] asifh16 opened #117 "Redownloadding site issues."
I cannot seem to download my site locally once ive reinstalled kalabox. Here are my steps.
- uninstalled kalabox using option 2, rm -r .vagrant.d, rm -r .kalabox
- restarted my computer
- reinstalled kalabox beta 8
- login to pantheon thru kalabox
- when i try to download the site from the latest pantheon backup it seems to download it but it then asks me again if i want to download my site from t

[2014-08-09 21:22] pirog commented on #117
ASIF!

I would check out the issue over here. I'm pretty sure its the same issue you are experiencing. There are some workarounds posted for you.
https://github.com/kalamuna/kalaboxv1/issues/12

[2014-08-10 21:27] mmynsted commented on #98
Also can not get installed.  I have VirtualBox and Vagrant installed (that I use separately).  Looks like vagrant is version 1.6.3.  So maybe that is the problem?

I see this same screen as show provided by a different user [img](http://arjunasoriano.com/marketplace/Kalabox/screen.png).  It just sits there (been an hour or so) after asking for admin password.  Never asks me for approval of license

[2014-08-11 22:27] asifh16 commented on #117
Hi Mike -

Ok - I spent a couple of hours trying everything in #12. Funny thing is i dont have a ~/.kalabox/kalabox.log file to see what may be causing this problem. Should I have that? Also, one thing that i notice is right after the installation completes, the box isnt running. Then I click start, and it always says that that box wasnt ready and try back. It then turns on (status says running af

[2014-08-12 00:02] pirog commented on #117
It sounds to me like the box just isnt installing properly... when the installer is done you should def have the box on and ready to go.

Sometimes, in earlier versions, vagrant would lose the VB binding ... if you run `vboxmanage list vms` what do you get?

[2014-08-12 00:40] pirog commented on #98
@mmynsted there is a separate issue for vagrant 1.5+ support over here https://github.com/kalamuna/kalaboxv1/issues/28... @gremy may also have some insight on that particular issue.

i _think_ its just getting hung on the version checking. Do you have an error log to post? should be at `~/.kalabox/kalabox.log`?

[2014-08-12 00:58] gremy commented on #98
@pirog Kalabox does not support newer versions of Vagrant and I don't really know if we should spend more time on adding support for the latest vagrant version, instead we should focus our efforts on developing Kalabox V2.

[2014-08-12 01:02] pirog commented on #98
@gremy, yes i agree and im not sure if we will add this support in V1.

i guess i was not clear in my request here.... i recall you mentioning that you had installed Kalabox with 1.5+ successfully. If so, could you provide some of that wisdom here to @mmynsted?

[2014-08-12 01:04] gremy commented on #98
I managed to fix the install for the latest VirtualBox version which was also broken. But it still fails to install Kalabox with the latest version of Vagrant.

[2014-08-12 01:05] pirog commented on #98
ok awesome... good to know. does it fail in the same way that @mmynsted describes or could it be something else? may just want to add a warning so the user knows their version of vagrant is not compat?

[2014-08-12 01:08] gremy commented on #98
I don't really remember how it failed. I'll have to try it again to check.

[2014-08-12 04:24] mmynsted commented on #98
Here is the log.  The same messages are repeated each time I have attempted to install.

[code]

I also subscribed to notifications for [#28](https://github.com/kalamuna/kalaboxv1/issues/28)

How do you recommend I proceed? Uninstall Vagrant and or VirtualBox and perhaps not use my existing vagrant boxes and VirtualBox VMs until Kalabox V2?  I looked a little, but likely not in the right place...

[2014-08-12 13:40] asifh16 commented on #117
hey mike - when i run vboxmanage list vms i get:

asifs-mac-pro:.kalabox asifhabibullah$ vboxmanage list vms
"kala.1dbfeae5c34e1867bdad20e590999544.box" {f3ee424b-3312-4f2e-b911-af8dd74fb3a6}
"precise64_1402433460871_79788" {b05bf061-9631-4795-8dd7-48a0ad7d9bf6}
"kala.4745a53502d14f3e2f098f00ad73adfb.box" {8ff1e842-16dd-4c0e-90ff-2ab017ac66a0}
"precise64_1405347215644_94498" {27f6b0c7-9ada-4d08-84

[2014-08-12 19:07] pirog commented on #117
aha! those are a lot of kalabox. the kalabox app may be getting confused about which virtual machine is actually the right one.

i would go into VirtualBox and delete all of these manually. Then run uninstall #2 and try installing again with a fresh slate.

[2014-08-12 19:28] pirog commented on #98
Yeah the easiest thing to do would be to run the uninstall.tool apackaged with the KBOX dmg and just use option #2. This will uninstall both VB and Vagrant so you will def want to export whatever VB appliances or Vagrant boxes you use outside of kalabox so you dont lose them.

For V2 we have a new, neutral github org
https://github.com/kalabox

And a milestone schedule
https://github.com/kalabox/k

[2014-08-12 20:09] asifh16 commented on #117
Ive tried everything man. I deleted all of the vm's then uninstalled using the option 2 in the uninstall tool. I removed ~/.vagrant.d, ~/.kalabox, ~/kalabox, ~/.drush/cache . Then reinstalled.. I notice the VirtualBox doenst get uninstalled when I uninstall kalabox. Should i delete that manually too? Sorry to be a pain Mike...

Thanks in advance,
Asif

[2014-08-12 20:11] pirog commented on #117
No worries, sorry V1 is being such a C :(

VB should def be uninstalled ... do you have the app open or maybe a VB process running behind the scenes?

[2014-08-12 20:15] asifh16 commented on #117
Lemme uninstall and try again by removing VB before reinstalling..

[2014-08-12 20:58] asifh16 commented on #117
Yeah man - no luck. This time VB did get uninstalled. it must have been all of those other VM's that were in there before.. Dunno what else i can try. Is there a log somewhere I can look at?

[2014-08-12 20:59] pirog commented on #117
What did it do when you tried to install it after this last
clean/uninstall? log should be at `~/.kalabox/kalabox.log`

On Tue, Aug 12, 2014 at 1:58 PM, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-12 21:02] asifh16 commented on #117
Same thing, when the installation finishes, its stays status is "stopped". When I click start is says that the box wasnt ready, then it sits for a couple of seconds an then it says running.. then i go and login to pantheon thru the kalabox ui and try to download the site and i get the infinite loop.  I dont have that file ~/.kalabox/kalabox.log . That seems strange, right?

[2014-08-12 21:03] pirog commented on #117
yeah that is very weird... it should immediately generate that file on
installation.

On Tue, Aug 12, 2014 at 2:02 PM, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-12 21:05] asifh16 commented on #117
I also tried deleting my .ssh directory in case it couldnt create the keys for some reason. So I have my home directory mounted on an external drive that is always connected.. The previous versions of kalabox worked on this.. Could that be an issue?

[2014-08-12 21:41] pirog commented on #117
a ha! yeah i think that could definitely be the issue. is there anyway you
can test without the external drive and see what happens?

On Tue, Aug 12, 2014 at 2:05 PM, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-12 21:44] asifh16 commented on #117
what ill do is create a new user account and see what happens.

[2014-08-12 21:47] pirog commented on #117
perfect.

On Tue, Aug 12, 2014 at 2:44 PM, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-13 01:54] rovo79 commented on #78
When I CURL from my Mac Terminal I receive this:

[code]

As for prevention/blocking, I had completely disabled my Mac Firewall while testing Kalabox.

[2014-08-13 14:23] asifh16 commented on #117
hey mike - ok this is weird.. i created a new user redownloaded the kalabox dmg and then ran it logged in as the new user and i get this upon completion.. for some reason its still referencing my asifhabibullah user account.. STRANGE.. maybe its because i switched users from that ?  how is the installer picking up the user path?

### Kalabox Log

2014-08-13T14:10:43.949Z - info: Box initialized.
2

[2014-08-13 17:41] pirog commented on #117
I think kalastack uses rubys dir.home and KALABOX uses just the $HOME
environmental var straight up.

On the other user what do you get if you just run "echo $HOME" in terminal

On Wednesday, August 13, 2014, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-13 17:45] asifh16 commented on #117
asifs-mac-pro:~ csiwebdeveloper$ echo $HOME
/Users/csiwebdeveloper

[2014-08-13 17:46] asifh16 commented on #117
anyway i can find out what a ruby dir.home call would return?

[2014-08-13 18:02] pirog commented on #117
I _think_ at the end of the day dir.home uses $HOME also but you should be
able to check it by invoking ruby directly on the CLI.

Give me a sec and I'll paste the command.

On Wednesday, August 13, 2014, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-13 18:07] asifh16 commented on #117
OK cool. Yeah something that happens at this point is where things seem to fail.

exports:2: path contains non-directory or non-existent components: /Volumes/User Data/asifhabibullah/kalabox/www

[2014-08-13 18:16] asifh16 commented on #117
Is there somewhere on my system that that other home directory is being saved and read from? Like it shouldnt be referencing that at all as this is a totally new user.

[2014-08-13 18:25] pirog commented on #117
not on the kalabox side... i think the issue is with the dir.home directive in ruby which explains the error you are getting.

I would try making this change in your `Vagrantfile` which lives at `~/.kalabox/kalastack`
https://github.com/kalamuna/kalastack/commit/d7f313ce3311797f995ae62b269790c4ac15ee6e

[2014-08-13 18:28] pirog commented on #78
Ok... that is all normal...

Can you open up virtualbox and post a screen shot of the Kalabox config?

[2014-08-13 18:29] pirog commented on #78
should look something like this
![screen shot 2014-08-13 at 11 28 56 am](https://cloud.githubusercontent.com/assets/713424/3910403/b7038f4a-2317-11e4-8eea-52053ba8d504.png)

[2014-08-13 18:36] rovo79 commented on #78
I don't have that. I think it's one of the errors I get.

[code]

[2014-08-13 18:39] pirog commented on #117
yup! and that part is the only part that uses dir.home (since its part of
kalastack and not kalabox)... i _think_ switching to just invoking $HOME
directly should solve your issue but im not sure what implications this
would have for other users...

On Wed, Aug 13, 2014 at 11:07 AM, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-13 18:41] pirog commented on #78
Might have already suggested this and im sure youve probably done it but have you run the uninstall.tool with option #2 and then tried the install again?

[2014-08-13 18:43] asifh16 commented on #117
ok ill test it shortly.. thanks man.

Asif Habibullah

Director US East Coast Operations

Computers & Structures, Inc.

TECHNOLOGY FOR A BETTER WORLD

36 West 44th Street, Suite 300

New York, NY 10036 - USA

Direct   
+1 212 575 9100 x3333

Cell      
+1 917 306 4387

Fax     
+1 212 575 1967

asif@csiamerica.com

www.csiamerica.com

On Aug 13, 2014, at 2:39 PM, Mike Pirog notifications@github.co

[2014-08-13 18:44] pirog commented on #117
sure thing. ping me back to let me know the results!

On Wed, Aug 13, 2014 at 11:43 AM, Asif Habibullah notifications@github.com
wrote:

##

Cheers,

Mike Pirog
Kalamuna
www.kalamuna.com

[2014-08-13 20:00] asifh16 commented on #117
OK. So that got me passed the installation issue. The installation completes now w/ the new user that i created. But now im again stuck in the infinite loop.. If i look in the ~/kalabox.log this is the error that i have appended to the end of that file now in there now. This comes right after the installation complete line...

2014-08-13T19:55:22.628Z - warn: An error occurred in an async call.
ca